@page "/academy/enrollments/configuration"
@inherits ConfigEnrollment_razor;


@if (tabsCreated)
{
<div class="card-body" id="tabContent">
    <ul class="nav nav-tabs" role="tablist">
        @for (int i = 1; i <= SecctionsNumber; i++)
        {
        <li class="nav-item" role="presentation">
            <button class="nav-link @(i == 1 ? "active" : "")" id="tab-@i" data-bs-toggle="tab" data-bs-target="#panel@i" type="button" role="tab" aria-controls="panel@i" aria-selected="@(i == 1 ? "true" : "false")">
                Pesta침a @i
            </button>
        </li>
        }
    </ul>
    <div class="tab-content">
        @for (int i = 1; i <= SecctionsNumber; i++)
        {
        <div class="tab-pane fade @(i == 1 ? "show active" : "")" id="panel@i" role="tabpanel" aria-labelledby="tab-@i">
            <label for="input@i" class="form-label">Input @i</label>
            <input type="text" class="form-control" id="input@i" />
        </div>
        }
    </div>
</div>
}



<link rel="stylesheet" href="/css/Academy/AcademyProfiles.css">
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <h6 class="m-0 font-weight-bold text-primary">Detalles de la matricula</h6>
        <a href="#" class="btn btn-success btn-sm" role="button">Editar</a>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-md-4" style="margin-bottom: 15px">
                <div class="card">
                    <div class="card-body">
                        <label style="display: inline-block; width: 200px;">Nombre:</label>
                        <input type="text" class="form-control" style="margin-bottom: 10px" @bind="Enrollment.Label">

                        <label style="display: inline-block; width: 200px;">Maestro Guia:</label>
                        <input type="text" class="form-control" style="margin-bottom: 10px" @bind="Enrollment.TeacherGuide.Name">

                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4" style="margin-bottom: 15px">
                <div class="card">
                    <div class="card-body">

                        <label style="display: inline-block; width: 200px;">A침o Lectivo:</label>
                        <input type="text" class="form-control" style="margin-bottom: 10px" @bind="Enrollment.SchoolYear">

                        <label style="display: inline-block; width: 200px;">Capacidad:</label>
                        <input type="text" class="form-control" style="margin-bottom: 10px" @bind="Enrollment.Capacity">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4" style="margin-bottom: 15px">
                <div class="card">
                    <div class="card-body">
                        <label style="display: inline-block; width: 200px;">Codigo:</label>
                        <input type="text" class="form-control" style="margin-bottom: 10px" @bind="Enrollment.EnrollmentId">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card" style="margin-bottom: 15px">
            <div class="card-body">
                <div class="row">
                    <div class="table-responsive">
                        <table id="dataTable" class="table table-bordered" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Sexo</th>
                                <th>Estado</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Sexo</th>
                                <th>Estado</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            @foreach (var item in Enrollment.Students)
                            {
                                <tr>
                                    <td>@item.StudentId</td>
                                    <td>@item.Name @item.SecondName @item.Surname @item.SecondSurname</td>
                                    <td>@(item.Sex ? "Masculino" : "Femenino")</td>
                                    <td>
                                        <span class="status-label @(item.IsActive ? "active-status" : "inactive-status")">
                                            @(item.IsActive ? "ACTIVO" : "INACTIVO")
                                        </span>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card" style="margin-bottom: 15px">
            <div class="card-body">
                <div class="row">
                    <div class="table-responsive">
                        <table id="dataTable" class="table table-bordered" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Descripci칩n</th>
                                <th>Modalidad</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Descripci칩n</th>
                                <th>Modalidad</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            @foreach (var item in Enrollment.Subjects)
                            {
                                <tr>
                                    <td>@item.SubjectID</td>
                                    <td>@item.Name</td>
                                    <td>@item.Description</td>
                                    <td>@item.Modality</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>


<!-- Inicializamos datatable -->
<script src="/js/demo/datatables-demo.js" defer></script>

