@page "/secretary/schoolyear/new"
@using wsmcbl.src.Utilities
@inherits ConfigSchoolYear;

@if (SchoolYearEntity == null)
{
    <div class="loader"></div>
}
else
{
    <link rel="stylesheet" href="css/ConfigSchoolYearView.css">
    
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Configurar Año Lectivo <span class="year-box">@SchoolYearEntity.Label</span> </h6>
            <a class="btn btn-success btn-sm" role="button" @onclick="() => SaveSchoolYear(SchoolYearEntity)">Guardar</a>
        </div>

        <div class="card-body">
            <div id="accordion">

                <div class="card">
                    <div class="card-header" id="panel1">
                        <h3 class="mb-0 d-flex w-100 justify-content-between">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#panelinfo1" aria-expanded="true" aria-controls="panelinfo1">
                                Grados y asignaturas para este Año Lectivo
                            </button>
                            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#ModalNewSubject">
                                Nueva Asignatura
                            </button>
                        </h3>
                    </div>

                    <div id="panelinfo1" class="collapse" aria-labelledby="panel1" data-parent="#accordion">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-4">
                                    <h4>Grados</h4>
                                    <ul class="list-group">
                                        @foreach (var grade in SchoolYearEntity.Degrees)
                                        {
                                            <li class="list-group-item @GetSelectedClass(grade)" @onclick="() => SelectGrade(grade)">
                                                @grade.label
                                            </li>
                                        }
                                    </ul>
                                </div>
                                <div class="col-md-8">
                                    <h4>Asignatura</h4>
                                    @if (SelectedGrade != null)
                                    {
                                        <ul class="list-group">
                                            @foreach (var subject in SelectedGrade.subjects)
                                            {
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    <span>@subject.Name</span>
                                                    <button class="btn btn-danger btn-sm" @onclick="() => RemoveSubject(subject)">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </button>
                                                </li>
                                            }
                                        </ul>
                                    }
                                    else
                                    {
                                        <p>Seleccione un grado.</p>
                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="panel2">
                        <h3 class="mb-0 d-flex w-100 justify-content-between">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#panelinfo2" aria-expanded="true" aria-controls="panelinfo2">
                                Tarifas y Servicios
                            </button>
                            <span class="ml-2" data-toggle="tooltip" title="Para crear una tarifa sin vencimiento introduce 1 1 1 en día, mes y año" style="cursor: pointer;">
                                ?
                            </span>
                            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#ModalNewTariff">
                                Nueva Tarifa
                            </button>
                        </h3>
                    </div>

                    <div id="panelinfo2" class="collapse" aria-labelledby="panel2" data-parent="#accordion">
                        <div class="card-body">

                            <div class="table-responsive">
                                <table id="gradetable" class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Año Lectivo</th>
                                        <th>Concepto</th>
                                        <th>Precio</th>
                                        <th>Vencimiento</th>
                                        <th>Tipo</th>
                                        <th>Modalidad</th>
                                        <th>Editar</th>
                                        <th>Eliminar</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>Año Lectivo</th>
                                        <th>Concepto</th>
                                        <th>Precio</th>
                                        <th>Vencimiento</th>
                                        <th>Tipo</th>
                                        <th>Modalidad</th>
                                        <th>Editar</th>
                                        <th>Eliminar</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    @foreach (var item in SchoolYearEntity.Tariffs)
                                    {
                                        var typeTariff = DropdownTypeTariffsLists.FirstOrDefault(t => t.Id == item.Type);
                                        var modality = DropdownModalityLists.FirstOrDefault(t => t.Id == item.Modality);
                                        <tr>
                                            <td>@item.SchoolYear</td>
                                            <td>@item.Concept</td>
                                            <td>@item.Amount</td>
                                            <td>@(item.OnlyDate.Year)/@(item.OnlyDate.Month)/@(item.OnlyDate.Day)</td>
                                            <td>
                                                @if (typeTariff != null)
                                                {
                                                    @typeTariff.Nombre
                                                }
                                                else
                                                {
                                                    <a>Sin Tipo</a>
                                                }
                                            </td>
                                            <td>
                                                @if (modality != null)
                                                {
                                                @modality.Nombre
                                                }
                                                else
                                                {
                                                <a>Sin Modalidad</a>
                                                }
                                            </td>
                                            <td>
                                                <button class="btn btn-primary" @onclick="() => EditTariff(item)">Editar</button>
                                            </td>
                                            <td>
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    <button class="btn btn-danger btn-sm" @onclick="() => RemoveTariff(item)">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </button>
                                                </li>
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
    
    <div class="modal fade" id="ModalNewSubject" tabindex="-1" role="dialog" aria-labelledby="ModalSubject" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalSubject">Nueva Asignatura</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="gradeIntId">Grado</label>
                            <select id="gradeIntId" class="form-control" style="margin: 0px" @bind="SubjectNew.GradeIntId">
                                @foreach (var option in DropdownDegreeLists)
                                {
                                <option value="@option.Id">@option.Nombre</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="name">Nombre</label>
                            <input type="text" class="form-control" id="name" @bind="SubjectNew.Name" />
                        </div>
                        <div class="form-group">
                            <label for="name">Abreviación</label>
                            <input type="text" class="form-control" id="name" @bind="SubjectNew.initials" />
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="isMandatory" @bind="SubjectNew.IsMandatory" />
                            <label class="form-check-label" for="isMandatory">Es Obligatorio</label>
                        </div>
                        <div class="form-group">
                            <label for="semester">Semestre</label>
                            <select id="semester" class="form-control" style="margin: 0px" @bind="SubjectNew.Semester">
                                @foreach (var option in DropdownSemesterLists)
                                {
                                <option value="@option.Id">@option.Nombre</option>
                                }
                            </select>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <div class="right-container">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button class="btn btn-danger" @onclick="() => SaveNewSubject(SubjectNew)">Guardar</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="ModalNewTariff" tabindex="-1" role="dialog" aria-labelledby="ModalTariff" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalTariff">Nueva Tarifa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="gradeIntId">Concepto</label>
                            <input type="text" class="form-control" id="Concept" @bind="SelectedTariff.Concept" />
                        </div>
                        <div class="form-group">
                            <label for="name">Monto</label>
                            <input type="number" class="form-control" id="amount" @bind="SelectedTariff.Amount" />
                        </div>
                        <div class="form-group">
                            <label for="semester">Vencimiento</label>
                            <input type="date" class="form-control" id="dueDate" @bind="SelectedTariff.OnlyDate" />
                        </div>
                        <div class="form-group">
                            <label for="name">Tipo</label>
                            <select id="modality" class="form-control" style="margin: 0px" @bind="SelectedTariff.Type">
                                @foreach (var option in DropdownTypeTariffsLists)
                                {
                                <option value="@option.Id">@option.Nombre</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="name">Modalidad</label>
                            <select id="modality" class="form-control" style="margin: 0px" @bind="SelectedTariff.Modality">
                                @foreach (var option in DropdownModalityLists)
                                {
                                <option value="@option.Id">@option.Nombre</option>
                                }
                            </select>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <div class="right-container">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button class="btn btn-danger" @onclick="() => SaveNewTariff(SelectedTariff)">Guardar</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="ModalEditTariff" tabindex="-1" role="dialog" aria-labelledby="ModalEdit" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalEdit">Editar Tarifa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="gradeIntId">Concepto</label>
                            <input type="text" class="form-control" id="Concept" @bind="SelectedTariff.Concept" />
                        </div>
                        <div class="form-group">
                            <label for="name">Cantidad</label>
                            <input type="number" class="form-control" id="amount" @bind="SelectedTariff.Amount" />
                        </div>
                        <div class="form-group">
                            <label for="semester">Vencimiento</label>
                            <input type="date" class="form-control" id="dueDate" @bind="SelectedTariff.OnlyDate" />
                        </div>
                        <div class="form-group">
                            <label for="name">Tipo</label>
                            <select id="modality" class="form-control" style="margin: 0px" @bind="SelectedTariff.Type">
                                @foreach (var option in DropdownTypeTariffsLists)
                                {
                                <option value="@option.Id">@option.Nombre</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="name">Modalidad</label>
                            <select id="modality" class="form-control" style="margin: 0px" @bind="SelectedTariff.Modality">
                                @foreach (var option in DropdownModalityLists)
                                {
                                <option value="@option.Id">@option.Nombre</option>
                                }
                            </select>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <div class="right-container">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal">Guardar</button>                    
                    </div>
                </div>
                
            </div>
        </div>
    </div>
}
