@page "/secretary/degrees/{degreeId}/enrollments"
@attribute [Authorize(Roles = "admin,secretary")]
@using wsmcbl.src.View.Components.MoveTeacherGuide
@using wsmcbl.src.View.Components.UpdateTeacherOfSubject
@inherits BaseView

@if (IsLoading())
{
    <div class="loader"></div>    
}
else
{
    <div class="card show mb-4">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                @foreach (var item in DataofGrade.EnrollmentList!)
                {
                    Counter++;
                    <li class="nav-item">
                        <a class="nav-link @(Counter == 1 ? "active" : "")" id="panel-@item.enrollmentId" href="#card-@item.enrollmentId" data-toggle="tab" role="tab" aria-controls="card-@item.enrollmentId" aria-selected="@(Counter == 1 ? "true" : "false")">
                            @item.Label
                        </a>
                    </li>
                }
                <li class="nav-item ml-auto">
                    <button type="button" class="btn btn-success" @onclick="() => ConfigureDegree()">
                        Guardar
                    </button>
                </li>
            </ul>
        </div>

        <div class="card-body" id="tabContent">
            <div class="tab-content">
                @foreach (var enrollment in DataofGrade.EnrollmentList)
                {
                    Counter2++;
                    <!-- Inicio datos de matricula -->
                    <div class="tab-pane fade @(Counter2 == 1 ? "show active" : "")" id="card-@enrollment.enrollmentId" role="tabpanel" aria-labelledby="panel-@enrollment.enrollmentId">
                        <div class="row">
                            <div class="col-12 col-md-6" style="margin-bottom: 15px">
                                <div class="card">
                                    <div class="card-body">


                                        <label style="display: inline-block; width: 200px;">Nombre:</label>
                                        <input type="text" class="form-control" disabled="disabled"
                                               style="margin-bottom: 10px" @bind="enrollment.Label">

                                        <label style="display: inline-block; width: 200px;">Maestro Guía:</label>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <input class="form-control"
                                                       value="@(TeacherList?.FirstOrDefault(t => t.teacherId == enrollment.teacherId)?.fullName ?? "N/A")"
                                                       disabled="disabled">
                                            </div>
                                            <div class="col-md-4">
                                                <button class="btn btn-outline-info btn-sm"
                                                        @onclick="() => ChangeTeacherGuide(enrollment.teacherId, enrollment.enrollmentId)">
                                                    <i class="fa fa-sync"></i> Cambiar Maestro
                                                </button>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-3" style="margin-bottom: 15px">
                                <div class="card">
                                    <div class="card-body">

                                        <label style="display: inline-block; width: 200px;">Año Lectivo:</label>
                                        <input type="text" class="form-control" disabled="disabled" style="margin-bottom: 10px">

                                        <label class="label-required" style="display: inline-block; width: 200px;">Capacidad:</label>
                                        <input type="text" class="form-control" style="margin-bottom: 10px" min="10" @bind="enrollment.Capacity">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3" style="margin-bottom: 15px">
                                <div class="card">
                                    <div class="card-body">
                                        <label style="display: inline-block; width: 200px;">Capacidad Usada:</label>
                                        <input type="text" class="form-control" style="margin-bottom: 10px" @bind="enrollment.Quantity">

                                        <label class="label-required" style="display: inline-block; width: 200px;"># De Aula:</label>
                                        <input type="text" class="form-control" style="margin-bottom: 10px" @bind="enrollment.Section">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fin datos de matricula -->

                        <!-- Inicio de las asignaturas -->
                        <div class="card" style="margin-bottom: 15px">
                            <div class="card-header py-3 d-flex justify-content-between align-items-center">
                                <h6 class="m-0 font-weight-bold text-primary">Asignaturas</h6>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="table-responsive" style="max-height: 750px; overflow-y: auto;">
                                        <table id="datatable" class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Nombre</th>
                                                <th>¿Es reprobable?</th>
                                                <th>Semestre</th>
                                                <th>Maestro</th>
                                                <th>Acciones</th>

                                            </tr>
                                            </thead>
                                            <tfoot>
                                            <tr>
                                                <th>Id</th>
                                                <th>Nombre</th>
                                                <th>¿Es reprobable?</th>
                                                <th>Semestre</th>
                                                <th>Maestro</th>
                                                <th>Acciones</th>
                                            </tr>
                                            </tfoot>
                                            <tbody>
                                            @foreach (var item in enrollment.SubjectTeacherList)
                                            {
                                                <tr>
                                                    <td>@item.subject.subjectId</td>
                                                    <td>@item.subject.name</td>
                                                    <td>
                                                        <span class="status-label @(item.subject.IsMandatory ? "active-status" : "inactive-status")">
                                                            @(item.subject.IsMandatory ? "Si" : "No")
                                                        </span>
                                                    </td>
                                                    <td>@GetSemesterLabel(item.subject.Semester)</td>
                                                    <td>
                                                        <select id="teacherForSubject" class="form-control" style="margin: 0" value="@item.teacher.teacherId"
                                                                @onchange="(e) => OnTeacherChanged(enrollment, item.subject, e.Value!.ToString()!)">
                                                            >

                                                            @foreach (var option in TeacherList!)
                                                            {
                                                                <option value="@option.teacherId">@option.fullName</option>
                                                            }
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-info btn-sm" @onclick="() => UpdateTeacher(item.subject.subjectId!, item.subject.name!, enrollment.enrollmentId)">
                                                            <i class="fa fa-sync"></i> Actualizar Maestro
                                                        </button>
                                                    </td>
                                                </tr>
                                            }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fin de las asignaturas -->

                    </div>
                }
            </div>
        </div>
    </div>
    
    
    <UpdateTeacherGuideView TeacherNow="@TeacherFlags" EnrollmentNow="@EnrollmentFlags" TeacherGuideUpdated="LoadDegree"/>
    <UpdateTeacherOfSubjectView SubjectId="@SubjectFlags" SubjectName="@SubjectChangeName" EnrollmentId="@EnrollmentFlags" TeacherSubjectUpdated="LoadDegree"/>
    
}

