@page "/secretary/schoolyear/new"
@inherits NewSchoolYear_razor;


<style>
    .year-box {
        display: inline-block;
        background-color: red;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: bold;
    }
</style>

@if (SchoolYearEntity == null)
{
    <div class="loader"></div>
}
else
{
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Configurar Año Lectivo  <span class="year-box">@SchoolYearEntity.SchoolYearId</span> </h6>
            <a class="btn btn-success btn-sm" role="button" @onclick="() => SaveSchoolYear(SchoolYearEntity)">Guardar</a>
        </div>
        <div class="card-body">

            <div id="accordion">
                
                <div class="card">
                    <div class="card-header" id="panel1">
                        <h3 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#panelinfo1" aria-expanded="true" aria-controls="collapseOne">
                                Grados disponible para este año lectivo.
                            </button>
                        </h3>
                    </div>

                    <div id="panelinfo1" class="collapse show" aria-labelledby="panel1" data-parent="#accordion">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="gradetable" class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Año Lectivo</th>
                                        <th>Nombre</th>
                                        <th>Modalidad</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>Año Lectivo</th>
                                        <th>Nombre</th>
                                        <th>Modalidad</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    @foreach (var item in SchoolYearEntity.Grades)
                                    {
                                        <tr>
                                            <td>@item.SchoolYear</td>
                                            <td>@item.Label</td>
                                            <td>@item.Modality</td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header py-3 d-flex justify-content-between align-items-center" id="headingThree">
                        <h3 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#panelinfo3" aria-expanded="false" aria-controls="collapseThree">
                                Listado de tarifas y aranceles
                            </button>
                        </h3>
                        <button class="btn btn-success btn-sm" @onclick="() => NewTariff()">Nueva</button>
                    </div>
                    <div id="panelinfo3" class="collapse" aria-labelledby="panel3" data-parent="#accordion">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="gradetable" class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Año Lectivo</th>
                                        <th>Concepto</th>
                                        <th>Precio</th>
                                        <th>Vencimiento</th>
                                        <th>Tipo</th>
                                        <th>Modalidad</th>
                                        <th>Editar</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>Año Lectivo</th>
                                        <th>Concepto</th>
                                        <th>Precio</th>
                                        <th>Vencimiento</th>
                                        <th>Tipo</th>
                                        <th>Modalidad</th>
                                        <th>Editar</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    @foreach (var item in SchoolYearEntity.Tariffs)
                                    {
                                        <tr>
                                            <td>@item.SchoolYear</td>
                                            <td>@item.Concept</td>
                                            <td>@item.Amount</td>
                                            <td>@(item.DueDate?.Year ?? 0)/@(item.DueDate?.Month ?? 0)/@(item.DueDate?.Day ?? 0)</td>
                                            <td>@item.Type</td>
                                            <td>@item.Modality</td>
                                            <td>
                                                <button class="btn btn-primary" @onclick="() => EditTariff(item)">Editar</button>
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-header py-3 d-flex justify-content-between align-items-center" id="panel2">
                        <h3 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#panelinfo2" aria-expanded="false" aria-controls="collapseTwo">
                                Listado de asignaturas por grado
                            </button>
                        </h3>
                        <a class="btn btn-success btn-sm" role="button">Nuevo</a>
                    </div>
                    <div id="panelinfo2" class="collapse" aria-labelledby="panel2" data-parent="#accordion">
                        <div class="card-body">
                            <h3>Detalles del Año Escolar</h3>
                            @foreach (var grade in SchoolYearEntity.Grades)
                            {
                                <h4>@grade.Label - @grade.Modality</h4>
                                <ul>
                                    @foreach (var subject in grade.Subjects)
                                    {
                                        <li>
                                            @subject.Name - Obligatorio: @subject.IsMandatory - Semestre: @subject.Semester
                                        </li>
                                    }
                                </ul>
                            }
                        </div>
                    </div>
                </div>
                
            </div>

        </div>
    </div> 
    
    @if (SelectedTariff != null)
    {
        <div class="modal fade show" tabindex="-1" style="display:block; background-color:rgba(0,0,0,0.5);" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Editar Tarifa</h5>
                        <button type="button" class="close" aria-label="Close" @onclick="Cancel">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <EditForm Model="SelectedTariff" OnValidSubmit="SaveEdit">
                            <DataAnnotationsValidator/>
                            <ValidationSummary/>

                            <div class="form-group">
                                <label>Concepto</label>
                                <InputText class="form-control" @bind-Value="SelectedTariff.Concept"/>
                            </div>
                            <div class="form-group">
                                <label>Precio</label>
                                <InputNumber class="form-control" @bind-Value="SelectedTariff.Amount"/>
                            </div>
                            <div class="form-group">
                                <label>Vencimiento</label>
                                <InputNumber class="form-control" @bind-Value="SelectedTariff.DueDate.Year"/>
                                <InputNumber class="form-control" @bind-Value="SelectedTariff.DueDate.Month"/>
                                <InputNumber class="form-control" @bind-Value="SelectedTariff.DueDate.Day"/>
                            </div>

                            <button type="submit" class="btn btn-success">Guardar</button>
                            <button type="button" class="btn btn-secondary" @onclick="Cancel">Cancelar</button>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    }
    
    @if (NewTariffItem != null)
{
    <div class="modal fade show" tabindex="-1" style="display:block; background-color:rgba(0,0,0,0.5);" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Nueva Tarifa</h5>
                    <button type="button" class="close" aria-label="Close" @onclick="Cancel">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <EditForm Model="NewTariffItem" OnValidSubmit="@(() => SaveNewTariff(NewTariffItem))">
                        <DataAnnotationsValidator/>
                        <ValidationSummary/>

                        <div class="form-group">
                            <label>Concepto</label>
                            <InputText class="form-control" @bind-Value="NewTariffItem.Concept"/>
                        </div>
                        <div class="form-group">
                            <label>Precio</label>
                            <InputNumber class="form-control" @bind-Value="NewTariffItem.Amount"/>
                        </div>
                        <div class="form-group">
                            <label>Tipo</label>
                            <InputNumber class="form-control" @bind-Value="NewTariffItem.Type"/>
                        </div>
                        <div class="form-group">
                            <label>Modalidad</label>
                            <InputNumber class="form-control" @bind-Value="NewTariffItem.Modality"/>
                        </div>
                        <div>
                            <h7>Vence:</h7>
                        </div>
                        <div class="form-group">
                            <InputNumber class="form-control" @bind-Value="NewTariffItem.dueDate.Year"/>
                            <InputNumber class="form-control" @bind-Value="NewTariffItem.dueDate.Month"/>
                            <InputNumber class="form-control" @bind-Value="NewTariffItem.dueDate.Day"/>
                        </div>

                        <button type="submit" class="btn btn-success">Guardar</button>
                        <button type="button" class="btn btn-secondary" @onclick="Cancel">Cancelar</button>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
}

}

