<div class="modal fade" id="NewStudentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold text-primary" id="myModalLabel">Nuevo Estudiante</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <EditForm Model="@StudentToCreate" OnValidSubmit="SaveStudent">
                    <DataAnnotationsValidator/>
                    <ValidationSummary/>
                    
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="firstName" class="label-required">Primer Nombre:</label>
                                            <InputText id="firstName" @bind-Value="@StudentToCreate.student.name" class="form-control" placeholder="Sin asignar"/>
                                        </div>

                                        <div class="form-group">
                                            <label for="secondN">Segundo Nombre:</label>
                                            <InputText id="secondN" @bind-Value="@StudentToCreate.student.secondName" class="form-control"placeholder="Sin asignar"/>
                                        </div>

                                        <div class="form-group">
                                            <label for="surname" class="label-required">Primer Apellido:</label>
                                            <InputText id="surname" @bind-Value="@StudentToCreate.student.surname" class="form-control" placeholder="Sin asignar"/>
                                        </div>

                                        <div class="form-group">
                                            <label for="secondS">Segundo Apellido:</label>
                                            <InputText id="secondS" @bind-Value="@StudentToCreate.student.secondSurname" class="form-control" placeholder="Sin asignar"/>
                                        </div>

                                        <div class="form-group">
                                            <label for="sexo" class="label-required">Sexo:</label>
                                            <select id="sexo" @onchange="OnSexChanged" class="form-control">
                                                @foreach (var item in sex)
                                                {
                                                <option value="@item.Id.ToString()">@item.Gender</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="modality" class="label-required">Modalidad:</label>
                                            <select id="modality" @onchange="OnModalityChanged" class="form-control">
                                                @foreach (var item in modalitySelect)
                                                {
                                                <option value="@item.Id.ToString()">@item.Modality</option>
                                                }
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="tutor" class="label-required">Tutor:</label>
                                            <InputText id="tutor" @bind-Value="@StudentToCreate.tutor.name" class="form-control" placeholder="Sin asignar"/>
                                        </div>

                                        <div class="form-group">
                                            <label for="tutorPhone">Telefono del tutor:</label>
                                            <InputText id="tutorPhone" @bind-Value="@StudentToCreate.tutor.phone" class="form-control" placeholder="Sin asignar"/>
                                        </div>

                                        <div class="form-group">
                                            <label for="fechaNacimiento" class="label-required">Fecha de Nacimiento</label>
                                            <input id="fechaNacimiento" type="date" class="form-control" @onchange="(e) => OnDateChanged(e)"
                                                   min="2000-01-01" max="@MaxDate"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="right-container">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-success">Crear</button>
                        </div>
                    </div>

                </EditForm>
            </div>
        </div>
    </div>
</div>
