@page "/academy/profiles/2019-0056U"
@inherits EnrollStudent_razor;

<link rel="stylesheet" href="/css/EnrollStudent.css">

<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">

        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="TabStudent" data-toggle="tab" href="#PanelStudent" role="tab"
                   aria-controls="PanelStudent" aria-selected="true">Información del Estudiante</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="TabAcademy" data-toggle="tab" href="#PanelAcademy" role="tab"
                   aria-controls="PanelAcademy" aria-selected="false">Otra Información</a>
            </li>
        </ul>
        <button type="button" class="btn btn-success"
                @onclick="(e) => Save()">
            Guardar
        </button>
    </div>

    <div class="card-body" id="tabContent">
        <div class="tab-content">

            <div class="tab-pane fade show active" id="PanelStudent" role="tabpanel" aria-labelledby="TabStudent">
                <div class="row">
                    <div class="col-12 col-md-4" style="margin-bottom: 15px">
                        <div class="card">
                            <div class="card-body">
                                <label style="display: inline-block; width: 200px;">Primer Nombre: <span style="color: red;">*</span> </label>
                                <input type="text" class="form-control" style="margin-bottom: 10px" @bind="FirsName">

                                <label style="display: inline-block; width: 200px;">Segundo Nombre:</label>
                                <input type="text" class="form-control" style="margin-bottom: 10px" @bind="SecondName">

                                <label style="display: inline-block; width: 200px;">Primer Apellido: <span style="color: red;">*</span> </label>
                                <input type="text" class="form-control" style="margin-bottom: 10px" @bind="FirsSurName">

                                <label style="display: inline-block; width: 200px;">Segundo Apellido:</label>
                                <input type="text" class="form-control" style="margin-bottom: 10px" @bind="SecondSurName">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4" style="margin-bottom: 15px">
                        <div class="card">
                            <div class="card-body">
                                <label style="display: inline-block; width: 200px;">¿Repite?:</label>
                                <select id="repite" class="form-control" style="margin: 0px" @onchange="GetRepite">
                                    @foreach (var option in repite)
                                    {
                                    <option value="@option">@option</option>
                                    }
                                </select>

                                <label style="display: inline-block; width: 200px; margin-top: 10px">Fecha de Nacimiento <span style="color: red;">*</span> </label>
                                <input id="fechaNacimiento" type="date" class="form-control" placeholder="19/06/2001" @bind="Birthday">

                                <label style="display: inline-block; width: 200px; margin-top: 10px">Edad:</label>
                                <input disabled="disabled" type="number" class="form-control" style="margin-bottom: 10px" @bind="Edad">

                                <label style="display: inline-block; width: 200px;">Sexo: <span style="color: red;">*</span> </label>
                                <select id="sex" class="form-control" style="margin: 0px" @onchange="GetSexo">
                                    @foreach (var option in sexo)
                                    {
                                    <option value="@option">@option</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4" style="margin-bottom: 15px">
                        <div class="card">
                            <div class="card-body">
                                <label style="display: inline-block; width: 200px;">Padecimientos:</label>
                                <input type="text" class="form-control" style="margin-bottom: 10px" @bind="Padecimientos">

                                <label style="display: inline-block; width: 200px;">Religión:</label>
                                <input type="text" class="form-control" style="margin-bottom: 10px" @bind="Religion">

                                <label style="display: inline-block; width: 200px;">Dirección:</label>
                                <textarea id="direccion" class="input-redimensionable" style="margin: 0px"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="PanelAcademy" role="tabpanel" aria-labelledby="TabAcademy">
                <div class="row">
                    <div class="col-12 col-md-4" style="margin-bottom: 15px">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title font-weight-bold">Información de contacto</h5>

                                <label style="display: inline-block; width: 200px;">Nombre de la madre:</label>
                                <input type="text" class="form-control" style="margin-bottom: 10px" @bind="MotherName">

                                <label style="display: inline-block; width: 200px;">Nombre de la padre:</label>
                                <input type="text" class="form-control" style="margin-bottom: 10px" @bind="FatherName">

                                <label style="display: inline-block; width: 200px;">Tutor:</label>
                                <input type="text" class="form-control" style="margin-bottom: 10px" @bind="Tutor">

                                <label style="display: inline-block; width: 200px;">Numeros de telefono:</label>
                                <input type="text" class="form-control" style="margin-bottom: 10px" placeholder="77507750, 77807780" @bind="PhoneNumbers">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" style="margin-bottom: 15px">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title font-weight-bold">Expediente</h5>
                                <div class="checkbox-group">
                                    <input type="checkbox" name="hojaTraslado" id="hojaTraslado">
                                    <label for="hojaTraslado">Hoja de traslado</label>
                                </div>
                                <div class="checkbox-group">
                                    <input type="checkbox" name="partidaNacimiento" id="partidaNacimiento">
                                    <label for="partidaNacimiento">Partida de Nacimiento</label>
                                </div>
                                <div class="checkbox-group">
                                    <input type="checkbox" name="cedulaTutor" id="cedulaTutor">
                                    <label for="cedulaTutor">Cedula Tutor</label>
                                </div>
                                <div class="checkbox-group">
                                    <input type="checkbox" name="boletinActual" id="boletinActual">
                                    <label for="boletinActual">Boletín Actual</label>
                                </div>
                                <div class="checkbox-group">
                                    <input type="checkbox" name="consConducta" id="consConducta">
                                    <label for="consConducta">Cons. Conducta</label>
                                </div>
                                <div class="checkbox-group">
                                    <input type="checkbox" name="solvenciaFinanciera" id="solvenciaFinanciera">
                                    <label for="solvenciaFinanciera">Solvencia Financiera</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-2" style="margin-bottom: 15px">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title font-weight-bold">Medidas</h5>
                                
                                <label style="display: inline-block; width: 200px;">Peso Kg:</label>
                                <input type="text" class="form-control" style="margin-bottom: 10px" @bind="Peso">

                                <label style="display: inline-block; width: 200px;">Altura Cm:</label>
                                <input type="text" class="form-control" style="margin-bottom: 10px" @bind="Altura">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3" style="margin-bottom: 15px">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title font-weight-bold">Grado/Sección</h5>

                                <label style="display: inline-block; width: 200px;">Grado:</label>
                                <select id="grade" class="form-control" style="margin: 0px" @onchange="GetGrade">
                                    @foreach (var option in grade)
                                    {
                                        <option value="@option">@option</option>
                                    }
                                </select>

                                <label style="display: inline-block; width: 200px;">Sección:</label>
                                <select id="seccion" class="form-control" style="margin: 0px" @onchange="GetSection">
                                    @foreach (var option in section)
                                    {
                                        <option value="@option">@option</option>
                                    }
                                </select>
                                
                                <p style="margin-top: 15px">Cupos Restante 21/30</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
</div>

