@using System.Globalization
@inherits BaseView

@if (IsLoading())
{
    <div class="text-gray-800 text-center">Cargando.... es posible que no tengas sección guiada.</div>
}
else
{
    <div class="card-body">
        <div class="table-responsive">
            <table id="dataTable" class="table table-bordered">
                <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    @foreach (var partials in Partials.OrderBy(p => p.partialId))
                    {
                        <th>@partials.label</th>
                    }
                    <th>NT Final</th>
                </tr>
                </thead>
                <tbody>
                @if (Students != null)
                {
                    foreach (var student in Students)
                    {
                        <tr>
                            <td>@student.studentId</td>
                            <td>@student.fullName</td>
                            @foreach (var partial in Partials.OrderBy(p => p.partialId))
                            {
                                <td>
                                    @{
                                        var average = student.averageList.FirstOrDefault(a => a.partialId == partial.partialId);
                                    }

                                    @(average != null ? average.grade.ToString(CultureInfo.InvariantCulture) : "-")
                                </td>
                            }
                            <td>@student.averageGrade</td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </div>
    <script src="js/DataTable/dataTableWhitOutOrder.js"></script>
}