<div class="modal fade" id="PaymentView" tabindex="-1" aria-labelledby="PaymentView" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="PaymentView">Detalle de la transacción</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                @* detalles de la transaccion *@
                <div class="row centrar">
                    <div class="finishpaymodal">
                        <table class="detailpaytable">
                            <thead>
                            <tr>
                                <th>Concepto</th>
                                <th>Monto</th>
                                <th>Desc</th>
                                <th>Mora</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in TariffList!)
                            {
                                <tr>
                                    <td>@item.Concept</td>
                                    <td>@Math.Round(item.Amount, 1)</td>
                                    <td>@Math.Round(item.Discount, 1)</td>
                                    <td>@Math.Round(item.Arrears, 1)</td>
                                </tr>
                            }
                            </tbody>

                            <tfoot>
                            <tr>
                                <th>Totales</th>
                                <th class="subtotal">@Math.Round(Subtotal, 1)</th>
                                <th class="discount">@Math.Round(Discount, 1)</th>
                                <th class="arrears">@Math.Round(Arrears, 1)</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <hr/>
                @* cambio y monto total *@
                <div class="anchototal">

                    <div class="row">
                        <div class="col pay">
                            <div>Recibí: </div>
                        </div>
                        <div class="col pay">
                            <input id="amoun" type="number" class="form-control p1" placeholder="C$ 00.00" @bind="AmountToDivide">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col pay">
                            <div>Total: </div>
                        </div>
                        <div class="col pay">
                            <input id="modalAmount" type="number" class="form-control p1" placeholder="C$ 00.00" disabled @bind="Total">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col pay">
                            <div>Cambio: </div>
                        </div>
                        <div class="col pay">
                            <input id="chamge" type="text" class="form-control p1" placeholder="C$ 00.00" disabled>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                
                @if (Total != 0)
                {
                    <div class="row w-100 d-flex justify-content-center align-items-center">
                        @if (AmountToDivide < Total)
                        {
                            <div class="alert alert-danger" role="alert">
                                Se realizara un abono para la transacción!
                            </div>
                        }
                        else
                        {
                            <div class="alert alert-success" role="alert">
                                Se realizara el pago completo para la transacción!
                            </div>
                        }
                    </div>
                }
                
                <div class="left-container">
                    <input type="checkbox" id="moraCheckbox" class="exomora" @onchange="ExonerateArrears"/>
                    <label class="form-check-label exomora" for="moraCheckbox">Exonerar mora</label>
                </div>

                <div class="right-container">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Atras</button>
                    <button type="button" class="btn btn-success" @onclick="(e) => CreateDetail()">Cobrar</button>
                </div>
                
            </div>

        </div>
    </div>

    <script defer src="/js/TarriffCollection.js"></script>
</div>