@page "/academy/enrollments/register"
@using wsmcbl.src.View.Academy.PerformanceReportBySectionDocument
@using wsmcbl.src.View.Academy.PerformanceReportBySection
@using wsmcbl.src.View.Academy.TopStudents
@using wsmcbl.src.View.Academy.Statistics
@inherits BaseView
@attribute [Authorize(Roles = "teacher")]

    <div>
        <!-- Pestañas -->
        <div class="card shadow mb-4">
            
            <div class="card-header py-3 d-flex flex-column flex-md-row justify-content-between align-items-center">
                <div class="d-block d-md-none w-100 mb-2">
                    <select class="form-control" id="mobileTabSelector" onchange="switchTab(this.value)">
                        <option value="PanelTop">Rendimiento</option>
                        <option value="PanelSabana">Sabana</option>
                        <option value="PanelMatrics">Estadísticas</option>
                    </select>
                </div>

                <ul class="nav nav-tabs card-header-tabs d-none d-md-flex" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="TabTop" data-toggle="tab" href="#PanelTop" role="tab"
                           aria-controls="PanelTop" aria-selected="true">
                            Rendimiento @Enrollment.label
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="TabSabana" data-toggle="tab" href="#PanelSabana" role="tab"
                           aria-controls="PanelSabana" aria-selected="False">
                            Sabana
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="TabMetric" data-toggle="tab" href="#PanelMatrics" role="tab"
                           aria-controls="PanelMatrics" aria-selected="false">
                            Estadísticas
                        </a>
                    </li>
                </ul>
                
            </div>

            <div class="card-body" id="tabContent">
                <div class="tab-content">

                    <!-- Pestaña de Top -->
                    <div class="tab-pane fade show active" id="PanelTop" role="tabpanel" aria-labelledby="TabTop">
                        <TopPerformanceStudentsView  TeacherId="@TeacherId" IsGuide="@IsGuide"/>
                    </div>

                    <!-- Pestaña de Sabana -->
                    <div class="tab-pane fade" id="PanelSabana" role="tabpanel" aria-labelledby="TabSabana">
                        @if (Teacher.isGuide)
                        {
                            <div class="text-right mb-3">
                                <button class="btn btn-primary btn-sm" @onclick="ViewPerformanceReport">
                                    <i class="fas fa-file-download"></i>
                                    <span class="d-none d-md-inline">Descargar Sabana</span>
                                    <span class="d-inline d-md-none">Sabana</span>
                                </button>
                            </div>
                        }
                        <PerformanceReportBySectionView PartialId="@CurrentPartialId" TeacherId="@TeacherId"
                                                        subjectList="@Enrollment.subjectList" IsGuide="IsGuide"/>
                    </div>

                    <!-- Pestaña de Estadisticas -->
                    <div class="tab-pane fade" id="PanelMatrics" role="tabpanel" aria-labelledby="TabMetric">
                        <div class="text-gray-800 text-center">
                            @if (IsGuide)
                            {
                                <div class="text-right mb-3">
                                    <button class="btn btn-primary btn-sm" @onclick="DownloadStats">
                                        <i class="fas fa-file-download"></i>
                                        <span class="d-none d-md-inline">Descargar Estadistica</span>
                                        <span class="d-inline d-md-none">Estadistica</span>
                                    </button>
                                </div>
                                <StatisticsView TeacherId="@TeacherId" PartialId="CurrentPartialId"/>
                            }
                            else
                            {
                                <div>Cargando.... es posible que no tengas sección guiada.</div>
                            }
                        </div>
                    </div>

                    <PerformanceReportView TeacherId="@TeacherId" EnrollmentName="@Enrollment.label"/>
                    <DowloadStatisticsModal TeacherId="@TeacherId" EnrollmentLabel="@Enrollment.label"/>

                </div>
            </div>


        </div>
    </div>
<script src="js/ResponsiveTabs.js"></script>

