@inherits BaseView

@using wsmcbl.src.Utilities

@if (EvaluationSumary != null && CualitativeDetails != null && SubjectDetails != null)
{
    <div class="input-group">
        <select class="custom-select" @onchange="OnPartialSelected">
            @foreach(var item in Partials)
            {
                <option value="@item.partialId" selected="@(item.isActive ? "selected" : null)">@item.label</option>
            }
        </select>
        <div class="input-group-append">
            <button class="btn btn-primary btn-sm" @onclick="DownloadPartialReport">
                <i class="fas fa-file-download"></i>
                <span class="d-none d-md-inline">Descargar Estadística</span>
                <span class="d-inline d-md-none">Estadística</span>
            </button>
        </div>
    </div>
    
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <!-- Matriculas -->
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Matrícula</th>
                            <th>Total</th>
                            <th>Varones</th>
                            <th>Mujeres</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>Inicial</td>
                            <td>@EvaluationSumary.initialQuantity.total</td>
                            <td>@EvaluationSumary.initialQuantity.males</td>
                            <td>@EvaluationSumary.initialQuantity.females</td>
                        </tr>
                        <tr>
                            <td>Actual</td>
                            <td>@EvaluationSumary.currentQuantity.total</td>
                            <td>@EvaluationSumary.currentQuantity.males</td>
                            <td>@EvaluationSumary.currentQuantity.females</td>
                        </tr>
                        <tr class="total-row">
                            <td>Retención (%)</td>
                            <td>
                                (@((EvaluationSumary.currentQuantity.total * 100m / EvaluationSumary.initialQuantity.total).round().ToString() + "%"))
                            </td>
                            <td>
                                (@((EvaluationSumary.currentQuantity.males * 100m / EvaluationSumary.initialQuantity.males).round().ToString() + "%"))
                            </td>
                            <td>
                                (@((EvaluationSumary.currentQuantity.females * 100m / EvaluationSumary.initialQuantity.females).round().ToString() + "%"))
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Asignaturas -->
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Asignaturas</th>
                            <th>Total</th>
                            <th>Varones</th>
                            <th>Mujeres</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td class="has-comment">Aprobados limpios <i
                                    class="fas fa-info-circle comment-indicator"></i>
                                <div class="comment">Estudiantes que aprobaron todas sus asignaturas.</div>
                            </td>
                            <td>@EvaluationSumary.approved.total</td>
                            <td>@EvaluationSumary.approved.males</td>
                            <td>@EvaluationSumary.approved.females</td>
                        </tr>
                        <tr>
                            <td>Rendimiento academico (%)</td>
                            <td>
                                (@((EvaluationSumary.approved.total * 100m / EvaluationSumary.currentQuantity.total).round().ToString() + "%"))
                            </td>
                            <td>
                                (@((EvaluationSumary.approved.males * 100m / EvaluationSumary.currentQuantity.males).round().ToString() + "%"))
                            </td>
                            <td>
                                (@((EvaluationSumary.approved.females * 100m / EvaluationSumary.currentQuantity.females).round().ToString() + "%"))
                            </td>

                        </tr>
                        <tr>
                            <td class="has-comment">Reprobados de 1 a 2 <i
                                    class="fas fa-info-circle comment-indicator"></i>
                                <div class="comment">Estudiantes que reprobaron 1 o 2 asignaturas.</div>
                            </td>
                            <td>@EvaluationSumary.failedFromOneToTwo.total</td>
                            <td>@EvaluationSumary.failedFromOneToTwo.males</td>
                            <td>@EvaluationSumary.failedFromOneToTwo.females</td>
                        </tr>
                        <tr>
                            <td class="has-comment">Reprobados de 3 a mas <i
                                    class="fas fa-info-circle comment-indicator"></i>
                                <div class="comment">Estudiantes que reprobarón 3 o mas asignaturas.
                                </div>
                            </td>
                            <td>@EvaluationSumary.failedFromThreeToMore.total</td>
                            <td>@EvaluationSumary.failedFromThreeToMore.males</td>
                            <td>@EvaluationSumary.failedFromThreeToMore.females</td>
                        </tr>
                        <tr>
                            <td class="has-comment">No evaluados <i class="fas fa-info-circle comment-indicator"></i>
                                <div class="comment">Estudiantes que se les registro 0 en todas sus asignaturas y conducta.</div>
                            </td>
                            <td>@EvaluationSumary.notEvaluated.total</td>
                            <td>@EvaluationSumary.notEvaluated.males</td>
                            <td>@EvaluationSumary.notEvaluated.females</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6 table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Promedios</th>
                        <th>Total</th>
                        <th>Hombres</th>
                        <th>Mujeres</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="has-comment">AA (100 - 90)<i class="fas fa-info-circle comment-indicator"></i>
                            <div class="comment mt-2">Obtuvierón entre 100 y 90 en el promedio.</div>
                        </td>
                        <td>@CualitativeDetails.AA.total</td>
                        <td>@CualitativeDetails.AA.males</td>
                        <td>@CualitativeDetails.AA.females</td>
                    </tr>
                    <tr>
                        <td class="has-comment">AS (89 - 76)<i class="fas fa-info-circle comment-indicator"></i>
                            <div class="comment mt-2">Obtuvierón entre 89 y 76 en el promedio.</div>
                        </td>
                        <td>@CualitativeDetails.AS.total</td>
                        <td>@CualitativeDetails.AS.males</td>
                        <td>@CualitativeDetails.AS.females</td>
                    </tr>
                    <tr>
                        <td class="has-comment">AF (75 - 60)<i class="fas fa-info-circle comment-indicator"></i>
                            <div class="comment mt-2">Obtuvierón entre 75 y 60 en el promedio.</div>
                        </td>
                        <td>@CualitativeDetails.AF.total</td>
                        <td>@CualitativeDetails.AF.males</td>
                        <td>@CualitativeDetails.AF.females</td>
                    </tr>
                    <tr>
                        <td class="has-comment">AI (59 - 0)<i class="fas fa-info-circle comment-indicator"></i>
                            <div class="comment mt-2">Obtuvierón entre 59 y 0 en el promedio.</div>
                        </td>
                        <td>@CualitativeDetails.AI.total</td>
                        <td>@CualitativeDetails.AI.males</td>
                        <td>@CualitativeDetails.AI.females</td>
                    </tr>
                    <tr class="total-row">
                        <td>Totales</td>
                        <td>@CualitativeDetails.Quantity.total</td>
                        <td>@CualitativeDetails.Quantity.males</td>
                        <td>@CualitativeDetails.Quantity.females</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th rowspan="2">Asignaturas</th>
                            <th colspan="3">Aprobados</th>
                            <th colspan="3">Reprobados</th>
                            <th colspan="3">No evaluados</th>
                        </tr>
                        <tr>
                            <th>Total</th>
                            <th>Varones</th>
                            <th>Mujeres</th>
                            <th>Total</th>
                            <th>Varones</th>
                            <th>Mujeres</th>
                            <th>Total</th>
                            <th>Varones</th>
                            <th>Mujeres</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var subject in SubjectDetails)
                        {
                            var name = Enrollment.subjectList.FirstOrDefault(t => t.subjectId == subject.subjectId)?.name ?? "Materia no encontrada";
                            var teacher = Teachers.FirstOrDefault(t => t.teacherId == subject.teacherId)?.fullName ?? "Docente no encontrado";

                            <tr>
                                <td class="has-comment text-left">@name <i
                                        class="fas fa-info-circle comment-indicator"></i>
                                    <div class="comment">Docente: @teacher</div>
                                </td>
                                <td>@subject.approved.total</td>
                                <td>@subject.approved.males</td>
                                <td>@subject.approved.females</td>
                                <td>@subject.failed.total</td>
                                <td>@subject.failed.males</td>
                                <td>@subject.failed.females</td>
                                <td>@subject.notEvaluated.total</td>
                                <td>@subject.notEvaluated.males</td>
                                <td>@subject.notEvaluated.females</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div>Cargando.... es posible que no tengas sección guiada.</div>
}
