@page "/academy/enrollments/guide"
@using wsmcbl.src.Utilities
@using wsmcbl.src.View.Academy.PerformanceReportBySectionDocument
@using wsmcbl.src.View.Academy.PerformanceReportBySection
@inherits BaseView

@attribute [Authorize(Roles = "teacher")]

<div class="card shadow h-100 py-2 mb-4">
    <div class="card-body">

        <!-- Título -->
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="d-flex justify-content-center align-items-center mb-3">
                    <h5 class="m-0 font-weight-bold text-primary">@Enrollment.label</h5>
                </div>
            </div>
        </div>

        <!-- Cards de información general -->
        <div class="row">
            <!-- Card para el docente -->
            <div class="col-md-3 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Docente</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@(User.getAlias() ?? "N/A")</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-user-tie fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card para la cantidad de estudiantes -->
            <div class="col-md-3 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Cantidad</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@Enrollment.quantity</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-user-graduate fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card para la capacidad -->
            <div class="col-md-3 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Capacidad</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@Enrollment.capacity</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-users fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card para la cantidad de varones y mujeres -->
            <div class="col-md-3 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Varones</div>
                                <div
                                    class="h5 mb-0 font-weight-bold text-gray-800">@(Enrollment.studentList?.Count(t => t.sex == true) ?? 0)</div>
                            </div>
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Mujeres</div>
                                <div
                                    class="h5 mb-0 font-weight-bold text-gray-800">@(Enrollment.studentList?.Count(t => t.sex == false) ?? 0)</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-venus-mars fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>

        <!-- Pestañas -->
        <div class="card shadow mb-4">

            <div class="card-header py-3 d-flex flex-column flex-md-row justify-content-between align-items-center">
                <div class="d-block d-md-none w-100 mb-2">
                    <select class="form-control" id="mobileTabSelector" onchange="switchTab(this.value)">
                        <option value="PanelStudent">Estudiantes</option>
                        <option value="PanelSubject">Asignaturas</option>
                        <option value="PanelMatrics">Métricas</option>
                        <option value="PanelRegister">Registro</option>
                    </select>
                </div>

                <ul class="nav nav-tabs card-header-tabs d-none d-md-flex" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="TabStudent" data-toggle="tab" href="#PanelStudent" role="tab"
                           aria-controls="PanelStudent" aria-selected="true">
                            Estudiantes
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="TabSubject" data-toggle="tab" href="#PanelSubject" role="tab"
                           aria-controls="PanelSubject" aria-selected="False">
                            Asignaturas
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="TabMetric" data-toggle="tab" href="#PanelMatrics" role="tab"
                           aria-controls="PanelMatrics" aria-selected="false">
                            Métricas
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="TabRegister" data-toggle="tab" href="#PanelRegister" role="tab"
                           aria-controls="PanelRegister" aria-selected="false">
                            Registro
                        </a>
                    </li>
                </ul>


                <button class="btn btn-primary btn-sm" @onclick="ViewPerformanceReport">
                    <i class="fas fa-file-download"></i>
                    <span class="d-none d-md-inline">Generar Sabana</span>
                    <span class="d-inline d-md-none">Sabana</span>
                </button>


            </div>
            
            <div class="card-body" id="tabContent">
                <div class="tab-content">

                    <!-- Pestaña de Estudiantes -->
                    <div class="tab-pane fade show active" id="PanelStudent" role="tabpanel"
                         aria-labelledby="TabStudent">
                        @if (Enrollment.studentList != null && Enrollment.studentList.Any())
                        {
                            <div class="p-3 table-responsive">
                                <table id="dataTable" class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Cód.</th>
                                        <th>Cód. Mined</th>
                                        <th>Nombre</th>
                                        <th>Sexo</th>
                                        <th>Edad</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @for (int i = 0; i < Enrollment.studentList.Count; i++)
                                    {
                                        var item = Enrollment.studentList[i];
                                        <tr>
                                            <td>@(i + 1)</td>
                                            <td>@item.studentId</td>
                                            <td>@item.minedId</td>
                                            <td>@item.fullName</td>
                                            <td>@item.sex.ToSex()</td>
                                            <td>@item.age</td>
                                            <td>
                                                <div class="dropdown no-arrow">
                                                    <a class="dropdown-toggle" href="#" role="button"
                                                       id="dropdownMenuLink"
                                                       data-toggle="dropdown" aria-haspopup="true"
                                                       aria-expanded="false">
                                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                                    </a>

                                                    <div
                                                        class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                                        aria-labelledby="dropdownMenuLink">
                                                        <div class="dropdown-header">Seleccione una opción:</div>
                                                        <a class="dropdown-item"
                                                           href="/academy/enrollments/guide/students/@item.studentId">Ver
                                                            perfil</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                            <script defer src="js/DataTable/dataTableWhitOutOrder.js"></script>
                        }
                        else
                        {
                            <div class="d-flex align-items-center justify-content-center" style="height: 100px;">
                                <h5 class="text-gray-800">No hay estudiantes guiados para usted.</h5>
                            </div>
                        }
                    </div>

                    <!-- Pestaña de Asignaturas -->
                    <div class="tab-pane fade" id="PanelSubject" role="tabpanel" aria-labelledby="TabSubject">


                        @if (Enrollment.subjectTeacherIdList != null && Enrollment.subjectTeacherIdList.Any())
                        {
                            <div class="p-3 table-responsive">
                                <table id="dataTableSubject" class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Clave</th>
                                        <th>Asignaturas</th>
                                        <th>Maestro</th>
                                        <th>Semestre</th>
                                        <th>¿Reprobable?</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @for (int i = 0; i < Enrollment.subjectTeacherIdList.Count; i++)
                                    {
                                        var item = Enrollment.subjectTeacherIdList[i];
                                        var clave = Enrollment.subjectList.FirstOrDefault(t => t.subjectId == item.subjectId)?.initials ?? "Materia no encontrada";
                                        var subject = Enrollment.subjectList.FirstOrDefault(t => t.subjectId == item.subjectId)?.name ?? "Materia no encontrada";
                                        var teacher = Teachers.FirstOrDefault(t => t.teacherId == item.teacherId)?.fullName ?? "Maestro no encontrado";
                                        var semester = Enrollment.subjectList.FirstOrDefault(t => t.subjectId == item.subjectId)?.semester ?? 0;
                                        var isMandatory = Enrollment.subjectList.FirstOrDefault(t => t.subjectId == item.subjectId)?.isMandatory;
                                        <tr>
                                            <td>@(i + 1)</td>
                                            <td>@clave</td>
                                            <td>@subject</td>
                                            <td>@teacher</td>
                                            <td>@semester.ToSemester()</td>
                                            <td>@(isMandatory == true ? "Sí" : "No")</td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        }
                        else
                        {
                            <div class="d-flex align-items-center justify-content-center" style="height: 100px;">
                                <h5 class="text-gray-800">No hay asignaturas disponibles.</h5>
                            </div>
                        }

                    </div>

                    <!-- Pestaña de Métricas -->
                    <div class="tab-pane fade" id="PanelMatrics" role="tabpanel" aria-labelledby="TabMetric">
                        <div class="d-flex align-items-center justify-content-center" style="height: 100px;">
                            <h5 class="text-gray-800">Proximamente.</h5>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="PanelRegister" role="tabpanel" aria-labelledby="TabRegister">
                        <PerformanceReportBySectionView PartialId="@CurrentPartial" TeacherId="@TeacherId"
                                                        subjectList="@Enrollment.subjectList"/>
                    </div>

                    <PerformanceReportView TeacherId="@TeacherId" EnrollmentName="@Enrollment.label"/>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/ResponsiveTabs.js"></script>
