@using wsmcbl.src.View.Components
<div class="modal fade" id="ModalEditSubject" tabindex="-1" aria-labelledby="ModalSubject" aria-hidden="true">
<div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalSubject">Editar Asignatura</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="AreaId" class="label-required">Área</label>
                                <select id="AreaId" class="form-control" @bind="editSubject.areaId">
                                    @foreach (var option in AreaList)
                                    {
                                        <option value="@option.areaId">@option.name</option>
                                    }
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="gradeIntId" class="label-required">Grado</label>
                                <select id="gradeIntId" class="form-control" @bind="editSubject.degreeDataId">
                                    @foreach (var option in _degreeItemList)
                                    {
                                        <option value="@option.Id">@option.Name</option>
                                    }
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="name" class="label-required">Nombre</label>
                                <input type="text" class="form-control" id="name" @bind="editSubject.name"/>
                            </div>

                            <div class="form-group">
                                <label for="abreviation" class="label-required">Abreviación</label>
                                <input type="text" class="form-control" id="abreviation" @bind="editSubject.initials"/>
                            </div>
                        </div>

                        <!-- Columna Derecha -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="position" class="label-required">Posición</label>
                                <input type="number" class="form-control" id="position" @bind="editSubject.number"/>
                            </div>

                            <div class="form-group">
                                <label for="semester" class="label-required">Semestre</label>
                                <select id="semester" class="form-control" @bind="editSubject.semester">
                                    @foreach (var option in semesterItemList)
                                    {
                                        <option value="@option.Id">@option.Name</option>
                                    }
                                </select>
                            </div>

                            <div class="checkbox-wrapper-14 mt-3">
                                <input type="checkbox" id="mandatory"
                                       checked="@(editSubject.isMandatory)"
                                       @onchange="() => editSubject.isMandatory = !editSubject.isMandatory"/>
                                <label for="mandatory">¿Obligatorio?</label>
                            </div>

                            <div class="checkbox-wrapper-14 mt-3">
                                <input type="checkbox" id="active"
                                       checked="@(editSubject.isActive)"
                                       @onchange="() => editSubject.isActive = !editSubject.isActive"/>
                                <label for="active">¿Activo?</label>
                            </div>
                        </div>
                    </div>
                    <RequerideMessage/>
                </form>
            </div>

            <div class="modal-footer">
                <div class="right-container">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button class="btn btn-danger" @onclick="UpdateSubject">Actualizar</button>
                </div>
            </div>

        </div>
    </div>
</div>
    