@page "/secretary/grades/configuration/{GradeId}/{EnrollmentNumber}"
@inherits ConfigureGrade;


@if(IsLoad())
{
    <div class="card show mb-4">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                @foreach (var item in DegreeEntity.EnrollmentList)
                {
                    counter++;
                    <li class="nav-item">
                        <a class="nav-link @(counter == 1 ? "active" : "")" id="panel-@item.EnrollmentId" href="#card-@item.EnrollmentId" data-toggle="tab" role="tab" aria-controls="card-@item.EnrollmentId" aria-selected="@(counter == 1 ? "true" : "false")">
                            @item.Label
                        </a>
                    </li>
                }
            </ul>
        </div>

        <div class="card-body" id="tabContent">
            <div class="tab-content">
                @foreach (var enrollment in DegreeEntity.EnrollmentList)
                {
                    counter2++;
                    <!-- Inicio datos de matricula -->
                    <div class="tab-pane fade @(counter2 == 1 ? "show active" : "")" id="card-@enrollment.EnrollmentId" role="tabpanel" aria-labelledby="panel-@enrollment.EnrollmentId">
                        <div class="row">
                            <div class="col-12 col-md-4" style="margin-bottom: 15px">
                                <div class="card">
                                    <div class="card-body">
                                        <label style="display: inline-block; width: 200px;">Nombre:</label>
                                        <input type="text" class="form-control" disabled="disabled" style="margin-bottom: 10px" @bind="enrollment.Label">

                                        <label style="display: inline-block; width: 200px;">Maestro Guia:</label>
                                        <!-- Aqui se implementara la lista dinamica para drowdownlist -->
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-12 col-md-4" style="margin-bottom: 15px">
                                <div class="card">
                                    <div class="card-body">

                                        <label style="display: inline-block; width: 200px;">Año Lectivo:</label>
                                        <input type="text" class="form-control" disabled="disabled" style="margin-bottom: 10px" @bind="DegreeEntity.SchoolYear">

                                        <label style="display: inline-block; width: 200px;">Capacidad:</label>
                                        <input type="text" class="form-control" style="margin-bottom: 10px" @bind="enrollment.Capacity">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" style="margin-bottom: 15px">
                                <div class="card">
                                    <div class="card-body">
                                        <label style="display: inline-block; width: 200px;">Capacidad Usada:</label>
                                        <input type="text" class="form-control" style="margin-bottom: 10px" @bind="enrollment.Quantity">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fin datos de matricula -->

                        <!-- Lista de estudiantes -->
                        <div class="card" style="margin-bottom: 15px">
                            <div class="card-body">
                                <div class="row">
                                    <div class="table-responsive">
                                        <table id="studenTable" class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Nombre</th>
                                                <th>Sexo</th>
                                                <th>Estado</th>
                                            </tr>
                                            </thead>
                                            <tfoot>
                                            <tr>
                                                <th>Id</th>
                                                <th>Nombre</th>
                                                <th>Sexo</th>
                                                <th>Estado</th>
                                            </tr>
                                            </tfoot>
                                            <tbody>
                                            <p>Listado de estudiantes</p>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fin Lista de estudiantes -->
                        
                        <button @onclick="ViewSubjectTeacherAssigment">Ver Lista </button>

                        <!-- Inicio de las asignaturas -->
                        <div class="card" style="margin-bottom: 15px">
                            <div class="card-body">
                                <div class="row">
                                    <div class="table-responsive">
                                        <table id="datatable" class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Nombre</th>
                                                <th>Tipo</th>
                                                <th>Semestre</th>
                                                <th>Maestro</th>
                                            </tr>
                                            </thead>
                                            <tfoot>
                                            <tr>
                                                <th>Id</th>
                                                <th>Nombre</th>
                                                <th>Tipo</th>
                                                <th>Semestre</th>
                                                <th>Maestro</th>
                                            </tr>
                                            </tfoot>
                                            <tbody>
                                            @foreach (var item in enrollment.SubjectTeacherList)
                                            {
                                                <tr>
                                                    <td>@item.subject.SubjectId</td>
                                                    <td>@item.subject.Name</td>
                                                    <td>@item.subject.IsMandatory</td>
                                                    <td>@item.subject.Semester</td>
                                                    <td>
                                                        <select id="teacherForSubject" class="form-control" style="margin: 0px" value="@item.teacher?.teacherId"
                                                                @onchange="(e) => OnTeacherChanged(enrollment, item.subject, e.Value.ToString())">>
                                                            
                                                            @foreach (var option in TeacherList)
                                                            {
                                                                <option value="@option.teacherId">@option.fullName</option>
                                                            }
                                                        </select>
                                                    </td>
                                                </tr>
                                            }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fin de las asignaturas -->
                        
                    </div>
                }
            </div>
        </div>
    </div>
    
<!-- Inicializamos datatable -->
<script src="/js/demo/datatables-demo.js" defer></script>    
}
else
{
    <div class="loader"></div>
}





