<div class="row">

    <div class="col-12 col-md-3" style="margin-bottom: 15px">
        <div class="card">
            <div class="card-body" style="min-height: 400px;">

            <div class="form-group">
                <h5 class="card-title font-weight-bold">Otros</h5>

                <label style="display: inline-block; width: 200px;">Código Mined:</label>
                <input type="text" class="form-control" placeholder="AAAA-000000-0000000" style="margin-bottom: 10px" @bind="Student.minedId">
            </div>
        

            <div class="form-group">
                <h5 class="card-title font-weight-bold">Descuento</h5>
                <div class="form-group">
                    <div class="checkbox-group">
                        <input type="checkbox" id="NoneDiscount" name="discount" value="1"
                               checked="@((DiscountId == 1))"
                               @onchange="() => SetDiscount(1)" />
                        <label for="NoneDiscount">Sin descuento</label>
                    </div>
                    <div class="checkbox-group">
                        <input type="checkbox" id="DiscountBrother" name="discount" value="2"
                               checked="@((DiscountId == 2))"
                               @onchange="() => SetDiscount(2)" />
                        <label for="DiscountBrother">Posee hermanos</label>
                    </div>
                    <div class="checkbox-group">
                        <input type="checkbox" id="DiscoundTeacher" name="discount" value="3"
                               checked="@((DiscountId == 3))"
                               @onchange="() => SetDiscount(3)" />
                        <label for="DiscoundTeacher">Hijo de maestro</label>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-3" style="margin-bottom: 15px">
        <div class="card">
            <div class="card-body" style="min-height: 400px;">
                <h5 class="card-title font-weight-bold label-required">Expediente</h5>
                <div class="checkbox-group">
                    <input type="checkbox" name="hojaTraslado" id="hojaTraslado" @bind="Student.file!.transferSheet">
                    <label for="hojaTraslado">Hoja de traslado</label>
                </div>
                <div class="checkbox-group">
                    <input type="checkbox" name="partidaNacimiento" id="partidaNacimiento"
                           @bind="Student.file.birthDocument">
                    <label for="partidaNacimiento">Partida de nacimiento</label>
                </div>
                <div class="checkbox-group">
                    <input type="checkbox" name="cedulaTutor" id="cedulaTutor" @bind="Student.file.parentIdentifier">
                    <label for="cedulaTutor">Cédula del tutor</label>
                </div>
                <div class="checkbox-group">
                    <input type="checkbox" name="boletinActual" id="boletinActual"
                           @bind="Student.file.updatedGradeReport">
                    <label for="boletinActual">Boletín actual</label>
                </div>
                <div class="checkbox-group">
                    <input type="checkbox" name="consConducta" id="consConducta" @bind="Student.file.conductDocument">
                    <label for="consConducta">Const. conducta</label>
                </div>
                <div class="checkbox-group">
                    <input type="checkbox" name="solvenciaFinanciera" id="solvenciaFinanciera"
                           @bind="Student.file.financialSolvency">
                    <label for="solvenciaFinanciera">Solvencia financiera</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-3" style="margin-bottom: 15px">
        <div class="card">
            <div class="card-body" style="min-height: 400px;">
                <h5 class="card-title font-weight-bold label-required">Medidas</h5>

                <label style="display: inline-block; width: 200px;">Peso (kg):</label>
                <input type="number" class="form-control" style="margin-bottom: 10px" min="5" max="200" @bind="Student.measurements!.weight">

                <label style="display: inline-block; width: 200px;">Estatura (cm):</label>
                <input type="number" class="form-control" style="margin-bottom: 10px" min="50" max="300" @bind="Student.measurements.height">

            </div>
        </div>
    </div>
    
    <div class="col-12 col-md-3" style="margin-bottom: 15px">
        <div class="card">
            <div class="card-body" style="min-height: 400px;">
                
            <div class="form-group">
                <h5 class="card-title font-weight-bold label-required">¿Repite?</h5>
                
                <div class="checkbox-group">
                    <input type="checkbox" id="NoRepeatStudent"
                           checked="@(SelectRepeat == false)"
                           @onchange="@(() => UpdateRepeatSelection(false))" />
                    <label for="NoRepeatStudent">No</label>

                    <input type="checkbox" id="RepeatStudent" class="ml-3"
                           checked="@(SelectRepeat == true)"
                           @onchange="@(() => UpdateRepeatSelection(true))" />
                    <label for="RepeatStudent">Sí</label>
                </div>
            </div>

                <h5 class="card-title font-weight-bold label-required">Grado/Sección</h5>

                <label style="display: inline-block; width: 200px;">Grado:</label>
                <select id="grade" class="form-control" style="margin: 0" @onchange="GetSelectDegreeId">
                    @if (DegreeList != null && DegreeList.Any())
                    {
                        @foreach (var option in DegreeList.OrderBy(d => d.position))
                        {
                            <option value="@option.degreeId">@option.label</option>
                        }
                    }
                    else
                    {
                        <option value="">No hay secciones disponibles</option>
                    }
                </select>

                <label style="display: inline-block; width: 200px;">Sección:</label>
                <select id="seccion" class="form-control" style="margin: 0" @onchange="SetEnrollmentSelect">
                    @if (CurrentEnrollments != null && CurrentEnrollments.Any())
                    {
                        @foreach (var option in CurrentEnrollments)
                        {
                            <option value="@option.enrollmentId">@option.label</option>
                        }
                    }
                    else
                    {
                        <option value="">No hay secciones disponibles</option>
                    }
                </select>

                <p style="margin-top: 15px">Cupos Restante @CurrentEnrollmentQuantity / @CurrentEnrollmentCapacity</p>

            </div>
        </div>
    </div>

</div>