@page "/accouting/arreas"

@inherits TarrifArreas

@if (tariffs == null)
{
    <div class="loader"></div>
}
else
{
    
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Aplicar Mora</h6>
            <button type="button" class="btn btn-success" 
                    @onclick="(e) => Confirm()">Cobrar
            </button>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Año Lectivo</th>
                            <th>Concepto</th>
                            <th>Monto</th>
                            <th>Con Mora</th>
                            <th>Fecha Vencimiento</th>
                            <th>Seleccionar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in tariffs)
                        {
                            <tr>
                                <td>@item.TariffId</td>
                                <td>@item.SchoolYear</td>
                                <td>@item.Concept</td>
                                <td>@item.Amount</td>
                                <td>@item.IsLate</td>
                                <td>@item.DueDate</td>
                                <td>
                                    <input type="checkbox" @onchange="(e) => OnSelectItemChanged(e, item)" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
