@inherits BaseView

@if (IsLoading())
{
    <div class="text-gray-800 text-center">Cargando.... es posible que no tengas secci贸n guiada.</div>
}
else
{
    
    <div class="input-group">
        <select class="custom-select" @onchange="OnPartialSelected">
            @foreach(var item in Partials)
            {
                <option value="@item.partialId" selected="@(item.isActive ? "selected" : null)">@item.label</option>
            }
        </select>
        <div class="input-group-append">
            <button class="btn btn-primary btn-sm" @onclick="DownloadReport">
                <i class="fas fa-file-download"></i>
                <span class="d-none d-md-inline">Descargar Sabana</span>
                <span class="d-inline d-md-none">Sabana</span>
            </button>
        </div>
    </div>
    
    <div class="card-body">
        <div class="table-responsive">
            <table id="dataTable2" class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>C贸digo</th>
                    <th>Mined</th>
                    <th>Nombre</th>
                    <th>Sexo</th>
                    @if (StudentsList != null && StudentsList.Any())
                    {
                        foreach (var subject in StudentsList[0].gradeList)
                        {
                            var subjectName = subjectList.FirstOrDefault(t => t.subjectId == subject.subjectId)?.initials ?? "Materia no encontrada";
                            <th class="tac">
                                @subjectName
                            </th>
                        }
                    }
                    <th>Conducta</th>
                    <th>Promedio</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>#</th>
                    <th>C贸digo</th>
                    <th>Mined</th>
                    <th>Nombre</th>
                    <th>Sexo</th>
                    @if (StudentsList != null && StudentsList.Any())
                    {
                        foreach (var subject in StudentsList[0].gradeList)
                        {
                            var subjectName = subjectList.FirstOrDefault(t => t.subjectId == subject.subjectId)?.initials ?? "Materia no encontrada";
                            <th class="tac">
                                @subjectName
                            </th>
                        }
                    }
                    <th>Conducta</th>
                    <th>Promedio</th>
                </tr>
                </tfoot>
                <tbody>
                @for (int i = 0; i < StudentsList!.Count; i++)
                {
                    var student = StudentsList[i];
                    <tr>
                        <td class="text-center">@(i + 1)</td>

                       
                        <td>@student.studentId</td>
                        <td>@student.minedId</td>
                        <td style="min-width: 200px">@student.fullName</td>
                        <td>@(!student.sex ? "Mujer" : "Var贸n")</td>

                        @foreach (var subject in student.gradeList)
                        {
                            <td class="tac-max">
                                @subject.grade
                                <br/>
                                <small class="text-muted">@subject.label</small>
                            </td>
                        }

                        <td class="tac-max">
                            @student.conductGrade
                            <br/>
                            <small class="text-muted">@student.conductGradeLabel</small>
                        </td>
                    
                        <td class="tac-max">
                            @student.gradeAverage
                            <br/>
                            <small class="text-muted">@student.labelAverage</small>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    <script src="js/DataTable/dataTableWhitOutOrder2.js"></script>
}