@page "/secretary/schoolyear/new"
@inherits ConfigSchoolYear;

@if (SchoolYearEntity == null)
{
    <div class="loader"></div>
}
else
{
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Configurar Año Lectivo <span class="year-box">@SchoolYearEntity.Label</span> </h6>
            <a class="btn btn-success btn-sm" role="button" @onclick="() => SaveSchoolYear(SchoolYearEntity)">Guardar</a>
        </div>

        <div class="card-body">

            <div class="row">
                <div class="col-12 col-md-6" style="margin-bottom: 15px">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="text-primary font-weight-bold">Información basica</h5>
                            <label class="label-required" style="display: inline-block; width: 200px;">Tipo de cambio</label>
                            <input type="number" class="form-control" style="margin-bottom: 10px">

                            <label class="label-required">Inicio Primer parcial :</label>
                            <input type="date" class="form-control" style="margin-bottom: 10px">

                            <label class="label-required">Inicio Segundo parcial:</label>
                            <input type="date" class="form-control" style="margin-bottom: 10px">

                            <label class="label-required">Inicio Tercer parcial:</label>
                            <input type="date" class="form-control" style="margin-bottom: 10px">

                            <label class="label-required">Inicio Cuarto parcial:</label>
                            <input type="date" class="form-control" style="margin-bottom: 10px">
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6" style="margin-bottom: 15px">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="text-primary font-weight-bold"> Otros datos.</h5>
                            <label class="label-required" style="display: inline-block; width: 200px;">Tipo de cambio</label>
                            <input type="number" class="form-control" style="margin-bottom: 10px">

                            <label class="label-required">Fin Primer semestre :</label>
                            <input type="date" class="form-control" style="margin-bottom: 10px">

                            <label class="label-required">Fin Segundo Semestre:</label>
                            <input type="date" class="form-control" style="margin-bottom: 10px">

                            <label class="label-required">Fin Tercer Semestre:</label>
                            <input type="date" class="form-control" style="margin-bottom: 10px">

                            <label class="label-required">Fin Cuarto Semestre:</label>
                            <input type="date" class="form-control" style="margin-bottom: 10px">
                        </div>
                    </div>
                </div>
            </div> <!-- Basic information for schoolYear -->
            
            <div id="accordion">

                <div class="card">
                    <div class="card-header" id="panel1">
                        <h3 class="mb-0 d-flex w-100 justify-content-between">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#panelinfo1" aria-expanded="true" aria-controls="panelinfo1">
                                Grados y asignaturas para este Año Lectivo
                            </button>
                            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#ModalNewSubject">
                                Nueva Asignatura
                            </button>
                        </h3>
                    </div>

                    <div id="panelinfo1" class="collapse" aria-labelledby="panel1" data-parent="#accordion">
                        <div class="card-body">

                            <div class="row" style="max-height: 700px; overflow-y: auto;">
                                <div class="col-md-4">
                                    <h4>Grados</h4>
                                    <ul class="list-group">
                                        @foreach (var grade in SchoolYearEntity.Degrees)
                                        {
                                            <li class="list-group-item @GetSelectedClass(grade)" @onclick="() => SelectGrade(grade)">
                                                @grade.label
                                            </li>
                                        }
                                    </ul>
                                </div>
                                <div class="col-md-8">
                                    <h4>Asignatura</h4>
                                    @if (SelectedGrade != null)
                                    {
                                        <ul class="list-group">
                                            @foreach (var subject in SelectedGrade.subjects)
                                            {
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    <span>@subject.Name</span>
                                                    <button class="btn btn-danger btn-sm" @onclick="() => RemoveSubject(subject)">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </button>
                                                </li>
                                            }
                                        </ul>
                                    }
                                    else
                                    {
                                        <p>Seleccione un grado.</p>
                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                </div> <!-- Grades and Subjects -->

                <div class="card">
                    <div class="card-header" id="panel2">
                        <h3 class="mb-0 d-flex w-100 justify-content-between">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#panelinfo2" aria-expanded="true" aria-controls="panelinfo2">
                                Tarifas y Servicios
                            </button>
                            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#ModalNewTariff">
                                Nueva Tarifa
                            </button>
                        </h3>
                    </div>

                    <div id="panelinfo2" class="collapse" aria-labelledby="panel2" data-parent="#accordion">
                        <div class="card-body">

                            <div class="table-responsive" style="max-height: 700px; overflow-y: auto;">
                                <table id="gradetable" class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Concepto</th>
                                        <th>Vencimiento</th>
                                        <th>Tipo</th>
                                        <th>Edu. Inicial</th>
                                        <th>Primaria</th>
                                        <th>Secundaria</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>Concepto</th>
                                        <th>Vencimiento</th>
                                        <th>Tipo</th>
                                        <th>Edu. Inicial</th>
                                        <th>Primaria</th>
                                        <th>Secundaria</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    @foreach (var item in SchoolYearEntity.Tariffs)
                                    {
                                        var typeTariff = DropdownTypeTariffsLists.FirstOrDefault(t => t.Id == item.Type);
                                        <tr>
                                            <td>@item.Concept</td>
                                            <td>@(item.OnlyDate.Year)/@(item.OnlyDate.Month)/@(item.OnlyDate.Day)</td>
                                            <td>
                                                @if (typeTariff != null)
                                                {
                                                    @typeTariff.Nombre
                                                }
                                                else
                                                {
                                                    <a>Sin Tipo</a>
                                                }
                                            </td>
                                            <td style="width: 150px;">
                                                <InputNumber id="surname" @bind-Value="@item.Amount" class="form-control" min="1"/>
                                            </td>
                                            <td style="width: 150px;">
                                                <InputNumber id="surname" @bind-Value="@item.Amount" class="form-control" min="1"/>
                                            </td>
                                            <td style="width: 150px;">
                                                <InputNumber id="surname" @bind-Value="@item.Amount" class="form-control" min="1"/>
                                            </td>
                                            <td>
                                                <button class="btn btn-secondary" @onclick="() => CallEditTariff(item)">
                                                    <i class="fas fa-pen"></i>
                                                </button>
                                                
                                                <button class="btn btn-danger btn-sm" @onclick="() => RemoveTariff(item)">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div> <!-- Tariff and Services  -->
                
            </div>
        </div>

    </div>
    <ModalEditTariff @ref="modalEditTariffRef" DropdownTypeTariffsLists="DropdownTypeTariffsLists" OnEditCompleted="RefreshParentComponent" />
    <ModalNewSubject SchoolYearEntity="SchoolYearEntity"/>
    <ModalNewTariff DropdownTypeTariffsLists="DropdownTypeTariffsLists"/>
}
