@page "/secretary/schoolyears"
@attribute [Authorize(Roles = "admin")]
@inherits ListSchoolYears;

@if (SchoolYear == null)
{
    <div class="loader"></div>
}
else
{ <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">A単os Lectivos</h6>
            <a href="/secretary/schoolyear/new" class="btn btn-success btn-sm">Nuevo A単o Lectivo</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="dataTable" class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>A単o</th>
                        <th>Inicio</th>
                        <th>Fin</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>A単o</th>
                        <th>Inicio</th>
                        <th>Fin</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    @foreach (var item in SchoolYear)
                    {
                        <tr>
                            <td>@item.SchoolYearId</td>
                            <td>@item.Label</td>
                            <td>@item.StartDate</td>
                            <td>@item.DeadLine</td>
                            <td>
                                <span class="status-label @(item.IsActive ? "active-status" : "inactive-status")">
                                    @(item.IsActive ? "ACTIVO" : "INACTIVO")
                                </span>
                            </td>
                            <td>
                                <a href="#" class="btn btn-success btn-sm">Ver</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Inicializamos datatable -->
    <script src="/js/demo/datatables-demo.js"></script>
}

