@page "/secretary/degrees/{degreeId}/enrollments"

@inherits BaseView
@attribute [Authorize(Roles = "admin,secretary,cashier")]

@using wsmcbl.src.Utilities

@if (IsLoading())
{
    <div class="loader"></div>
}
else
{
    <div class="card show mb-4">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                @foreach (var item in enrollmentList!)
                {
                    <li class="nav-item">
                        <a class="nav-link @(ActiveTab == 0 ? "active" : "")" id="panel-@Panel"
                           href="#card-@item.enrollmentId" data-toggle="tab" role="tab"
                           aria-controls="card-@item.enrollmentId" aria-selected="@(ActiveTab == 0 ? "true" : "false")"
                           @onclick="(() => ActiveTab = Panel)">
                            @item.label
                        </a>
                    </li>
                    ActiveTab++;
                    Panel++;
                }
                <li class="nav-item ml-auto">
                    <button type="button" class="btn btn-success" @onclick="UpdateEnrollmentList">
                        Guardar
                    </button>
                </li>
            </ul>
        </div>

        @{ ActiveTab = 0; }

        <div class="card-body" id="tabContent">
            <div class="tab-content">
                @foreach (var enrollment in enrollmentList)
                {
                    <div class="tab-pane fade @(ActiveTab == 0 ? "show active" : "")" id="card-@enrollment.enrollmentId"
                         role="tabpanel" aria-labelledby="panel-@enrollment.enrollmentId">
                        
                        <!-- Inicio datos de matricula -->
                        <div class="row">

                            <!-- Información principal -->
                            <div class="col-12 col-lg-8 mb-4">
                                <div class="card shadow h-100">

                                    <div
                                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary">
                                            Información de Matrícula
                                        </h6>

                                        <button @onclick="() => GenerateGradeReport(enrollment.enrollmentId)"
                                                class="btn btn-outline-danger btn-sm">
                                            <i class="fas fa-file-alt mr-1"></i>
                                            Generar Boletines de @enrollment.label
                                        </button>
                                    </div>

                                    <div class="card-body">

                                        <div class="row">

                                            <div class="col-md-6 mb-3">
                                                <label>Nombre</label>
                                                <input class="form-control"
                                                       disabled
                                                       @bind="enrollment.label"/>
                                            </div>

                                            <div class="col-md-6 mb-3">
                                                <label>Matrícula ID</label>
                                                <input class="form-control"
                                                       disabled
                                                       @bind="enrollment.enrollmentId"/>
                                            </div>

                                            <div class="col-md-6 mb-3">
                                                <label>Año Lectivo</label>
                                                <input class="form-control"
                                                       disabled
                                                       @bind="enrollment.schoolyear"/>
                                            </div>

                                            <div class="col-md-6 mb-3">
                                                <label>Docente Guía</label>

                                                <div class="input-group">

                                                    <input class="form-control"
                                                           disabled
                                                           value="@GetTeacherNameById(enrollment.teacherId)"/>

                                                    <div class="input-group-append">
                                                        <button class="btn btn-info"
                                                                @onclick="() => ChangeTeacherGuide(enrollment.teacherId, enrollment.enrollmentId)">
                                                            <i class="fa fa-sync"></i>
                                                            Cambiar
                                                        </button>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>

                            <!-- Datos operativos -->
                            <div class="col-12 col-lg-4 mb-4">
                                <div class="card shadow h-100">

                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">
                                            Configuración del Aula
                                        </h6>
                                    </div>

                                    <div class="card-body">

                                        <div class="form-group">
                                            <label class="label-required">
                                                Capacidad
                                            </label>

                                            <input type="number"
                                                   class="form-control"
                                                   min="10"
                                                   @bind="enrollment.capacity">
                                        </div>

                                        <div class="form-group">
                                            <label>
                                                Capacidad Usada
                                            </label>

                                            <input type="text"
                                                   class="form-control"
                                                   readonly
                                                   @bind="enrollment.quantity">
                                        </div>

                                        <div class="form-group mb-0">
                                            <label class="label-required">
                                                # De Aula
                                            </label>

                                            <input type="text"
                                                   class="form-control"
                                                   @bind="enrollment.section">
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                        <!-- Fin datos de matricula -->

                        <!-- Inicio de los estudiantes -->
                        <div class="card" style="margin-bottom: 15px">
                            <div class="card-header py-3 d-flex justify-content-between align-items-center">
                                <h6 class="m-0 font-weight-bold text-primary">Estudiantes</h6>
                            </div>
                            <div class="card-body" style="max-height: 400px; overflow-y: auto;">
                                <div class="row">
                                    <div class="table-responsive">
                                        <table id="dataTable" class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>N°</th>
                                                <th>Código</th>
                                                <th>Nombre</th>
                                                <th>Sexo</th>
                                                <th>Acciones</th>
                                            </tr>
                                            </thead>
                                            <tfoot>
                                            <tr>
                                                <th>N°</th>
                                                <th>Código</th>
                                                <th>Nombre</th>
                                                <th>Sexo</th>
                                                <th>Acciones</th>
                                            </tr>
                                            </tfoot>
                                            <tbody>
                                            @for (int i = 0; i < enrollment.studentList.Count; i++)
                                            {
                                                var item = enrollment.studentList[i];
                                                <tr>
                                                    <td>@(i + 1)</td> <!-- Numeración basada en el índice -->
                                                    <td>@item.studentId</td>
                                                    <td>@item.fullName</td>
                                                    <td>@(item.sex ? "Varón" : "Mujer")</td>
                                                    <td>
                                                        <div class="dropdown no-arrow">
                                                            <a class="dropdown-toggle" href="#" role="button"
                                                               id="dropdownMenuLink"
                                                               data-toggle="dropdown" aria-haspopup="true"
                                                               aria-expanded="false">
                                                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                                            </a>

                                                            <div
                                                                class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                                                aria-labelledby="dropdownMenuLink">
                                                                <div class="dropdown-header">Seleccione una opción:
                                                                </div>
                                                                <a class="dropdown-item" href="#">Ver perfil
                                                                    (Próximamente)</a>
                                                                <a class="dropdown-item" href="#">Mover
                                                                    (Próximamente)</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fin de los estudiantes -->

                        <!-- Inicio de las asignaturas -->
                        <div class="card" style="margin-bottom: 15px">
                            <div class="card-header py-3 d-flex justify-content-between align-items-center">
                                <h6 class="m-0 font-weight-bold text-primary">Asignaturas</h6>
                            </div>
                            <div class="card-body" style="max-height: 500px; overflow-y: auto;">
                                <div class="row">
                                    <div class="table-responsive">
                                        <table id="datatableSubject" class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Nombre</th>
                                                <th>¿Es reprobable?</th>
                                                <th>Semestre</th>
                                                <th>Docente</th>
                                                <th>Acciones</th>

                                            </tr>
                                            </thead>
                                            <tfoot>
                                            <tr>
                                                <th>Id</th>
                                                <th>Nombre</th>
                                                <th>¿Es reprobable?</th>
                                                <th>Semestre</th>
                                                <th>Docente</th>
                                                <th>Acciones</th>
                                            </tr>
                                            </tfoot>
                                            <tbody>
                                            @foreach (var item in enrollment.subjectList)
                                            {
                                                <tr>
                                                    <td>@item.subjectId</td>
                                                    <td>@item.name</td>
                                                    <td>
                                                        <span
                                                            class="status-label @(item.isMandatory ? "active-status" : "inactive-status")">
                                                            @item.isMandatory.ToStringYesOrNo()
                                                        </span>
                                                    </td>
                                                    <td>@GetSemesterLabel(item.semester)</td>
                                                    <td>@GetTeacherNameById(item.teacherId)</td>
                                                    <td>
                                                        <button class="btn btn-info btn-sm"
                                                                @onclick="() => UpdateTeacher(item.subjectId!, item.name!, enrollment.enrollmentId)">
                                                            <i class="fa fa-sync"></i> Actualizar docente
                                                        </button>
                                                    </td>
                                                </tr>
                                            }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fin de las asignaturas -->
                    </div>
                    ActiveTab++;
                }
            </div>
        </div>
    </div>

    <UpdateTeacherGuideView TeacherNow="@TeacherFlags" EnrollmentNow="@EnrollmentFlags"
                            TeacherGuideUpdated="LoadDegree"/>
    <UpdateTeacherOfSubjectView SubjectId="@SubjectFlags" SubjectName="@SubjectChangeName"
                                EnrollmentId="@EnrollmentFlags" TeacherSubjectUpdated="LoadDegree"/>
}

