@page "/academy/profiles"

@inherits AcademyProfiles;


@if (Students == null)
{
    <div class="loader"></div>
}
else
{
    <link rel="stylesheet" href="css/Academy/Status.css">

    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Perfiles de Estudiantes</h6>
            <a href="/academy/tariff-profiles/new" class="btn btn-success btn-sm">Nuevo Estudiante</a>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="dataTable" class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Estado</th>
                        <th>Año Lectivo</th>
                        <th>Grado</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Estado</th>
                        <th>Año Lectivo</th>
                        <th>Grado</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    @foreach(var item in Students)
                    {
                        <tr>
                            <td>@item.StudentId</td>
                            <td>@item.Name @item.SecondName @item.Surname @item.SecondSurname</td>
                            <td>
                                <span class="status-label @(item.IsActive ? "active-status" : "inactive-status")">
                                    @(item.IsActive ? "ACTIVO" : "INACTIVO")
                                </span>
                            </td>
                            <td>@item.SchoolYear</td>
                            <td>@item.EnrollmentLabel</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Inicializamos datatable -->
    <script src="/js/demo/datatables-demo.js"></script>
}
