@page "/transactions/invoices/{transactionId}"

@inherits PrintInvoice;
@layout EmptyLayout

if (Invoice == null)
{
    <p>Cargando...</p>
}
else
{
    <div class="factura">
        <h5 class="izqC">Colegio Bautista Libertad</h5>
        <p class="direccion">Entrada Norte C.C.Managua, 1c. E. 1c S. 1/2c-E.</p>
        <p>Telefono: 22705587</p>

        <p class="izqC">Recibo de Caja</p>
        <hr>

        <div class="row">
            <div class="col">
                <p class="izqN">N°</p>
            </div>
            <div class="col">
                <p class="izq">@Invoice.TransactionId</p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p class="izqN">Cod. Estu</p>
            </div>
            <div class="col">
                <p class="izq">@Invoice.StudentId</p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p class="izqN">Fecha</p>
            </div>
            <div class="col">
                <p class="izq">@Invoice.DateTime.ToString("dd-MM-yyyy")</p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p class="izqN">Hora</p>
            </div>
            <div class="col">
                <p class="izq">@Invoice.DateTime.ToString("HH:mm:ss")</p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p class="izqN">Cajero</p>
            </div>
            <div class="col">
                <p class="izq">@Invoice.CashierName</p>
            </div>
        </div>
        <hr>
        

        <p class="der">A nombre de: </p>
        <p class="izqC">@Invoice.StudentName</p>

        <blockquote class="izqC">DETALLE</blockquote>

        <table>
            <thead>
                <tr>
                    <th>Concepto</th>
                    <th>Monto</th>
                    <th>Mora</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Invoice.detail)
                {
                    <tr>
                        <td> @item.Concept </td>
                        <td> @item.Amount </td>
                        <td> @item.Arrears </td>
                    </tr>
                }
            </tbody>
        </table>
        <hr>
        
        <div class="row">
            <div class="col">
                <p class="izqN">T Neto:</p>
            </div>
            <div class="col">
                <p class="izq">C$ @Invoice.Total</p>
            </div>
        </div>
        <hr>
        <div class="space"></div>
        
        
        <div class="row">
            <div class="col">
                <hr>
                <p>Cliente</p>
            </div>
            <div class="col">
                <hr>
                <p>Administrador</p>
            </div>
        </div>
        <br>

        <hr>
        <div class="row">
            <div class="col">
                <p class="izqN">Balance General</p>
            </div>
            <div class="col">
                <p class="izq">C$ @Invoice.getGeneralBalance()</p>
            </div>
        </div>
        <p class="end">NO ES VALIDO SIN FIRMA NI SELLO DEL CAJERO</p>
    </div>
    <script src="/js/Facture.js" defer></script>
}