@page "/accounting/apply-arrears"
@inherits BaseView
@attribute [Authorize(Roles = "admin, cashier")]

@if (!IsLoading())
{
    <div class="loader"></div>
}
else
{
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Activa la mora de los aranceles vencidos</h6>
        </div>
        
            <div class="card-body">
                <div class="table-responsive">
                    <table id="dataTable" class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Año</th>
                            <th>Concepto</th>
                            <th>Monto</th>
                            <th>Vence</th>
                            <th>Modalidad</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Año</th>
                            <th>Concepto</th>
                            <th>Monto</th>
                            <th>Vence</th>
                            <th>Modalidad</th>
                            <th>Acciones</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        @foreach(var item in Tariffs!)
                        {
                            <tr>
                                <td>@item.tariffId</td>
                                <td>@SchoolYearLabels![item.schoolyearId]</td>
                                <td>@item.concept</td>
                                <td>@item.amount</td>
                                <td>@item.DueDate?.ToStringFormat()</td>
                                <td>
                                    @(item.educationalLevel == 1 ? "Preescolar" :
                                    item.educationalLevel == 2 ? "Primaria" :
                                    item.educationalLevel == 3 ? "Secundaria" :
                                    "Nivel no definido")
                                </td>
                                <td>
                                    <button class="btn btn-danger" @onclick="() => ActiveArrears(item.tariffId)">Activar Mora</button>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
}



