@page "/accounting/reports/revenue"
@attribute [Authorize(Roles = "admin,cashier")]

@if (IsLoad())
{
    <div class="loader"></div>
}
else
{
    <link rel="stylesheet" href="css/DataTableExport/dataTables.dataTables.css">
    <link rel="stylesheet" href="css/DataTableExport/buttons.dataTables.css">
    
    <div class="card border-bottom-success shadow h-100 py-2 mb-4">
        <div class="card-body">
            
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="d-flex justify-content-center align-items-center mb-3">
                        <h5 class="m-0 font-weight-bold text-primary">Reporte de Ingresos</h5>
                    </div>
                </div>
            </div>
            
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="d-flex justify-content-center align-items-center">
                        <button class="btn btn-outline-success btn-sm" @onclick="() => GetTransactionsRevenuesAsync(1)">Hoy</button>
                        <button class="btn btn-outline-success btn-sm ml-5" @onclick="() => GetTransactionsRevenuesAsync(2)">Ayer</button>
                        <button class="btn btn-outline-success btn-sm ml-5" @onclick="() => GetTransactionsRevenuesAsync(3)">Mensual</button>
                        <button class="btn btn-outline-success btn-sm ml-5" @onclick="() => GetTransactionsRevenuesAsync(4)">Anual</button>
                    </div>
                </div>
            </div>
            <hr>
            
            <div class="row align-items-center">
                <div class="col">

                    @if (!HasData)
                    {
                        <div class="d-flex justify-content-center">
                            <h4 class="text-gray-800">Sin datos que mostrar</h4>
                        </div>
                    }
                    else
                    {
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="dataTableExport" class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Factura</th>
                                        <th>Estudiante</th>
                                        <th>Fecha</th>
                                        <th>Monto</th>
                                        <th>Tipo</th>
                                        <th>Estado</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>Factura</th>
                                        <th>Estudiante</th>
                                        <th>Fecha</th>
                                        <th>Tipo</th>
                                        <th>Monto</th>
                                        <th>Estado</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    @foreach (var item in Transactions.transactionList)
                                    {
                                        <tr>
                                            <td> @item.number</td>
                                            <td> @item.studentName</td>
                                            <td> @item.datetime</td>
                                            <td> @item.amount</td>
                                            <td> @item.type</td>
                                            <td> @item.isValid</td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                        <script src="js/DataTable/ExportDataTables.js"></script>
                    }

                </div>
            </div>
            
            
        </div>
    </div>
}

<script src="vendor/datatables/DataTableExport/jquery-3.7.1.js"></script>
<script src="vendor/datatables/DataTableExport/dataTables.js"></script>
<script src="vendor/datatables/DataTableExport/dataTables.buttons.js"></script>
<script src="vendor/datatables/DataTableExport/buttons.dataTables.js"></script>
<script src="vendor/datatables/DataTableExport/jszip.min.js"></script>
<script src="vendor/datatables/DataTableExport/pdfmake.min.js"></script>
<script src="vendor/datatables/DataTableExport/vfs_fonts.js"></script>
<script src="vendor/datatables/DataTableExport/buttons.html5.min.js"></script>
<script src="vendor/datatables/DataTableExport/buttons.colVis.min.js"></script>



