@page "/accounting/reports/revenue"
@attribute [Authorize(Roles = "admin,cashier")]

@if (IsLoad())
{
    <div class="loader"></div>
}
else
{
    <link rel="stylesheet" href="css/DataTableExport/dataTables.dataTables.css">
    <link rel="stylesheet" href="css/DataTableExport/buttons.dataTables.css">
    
    <div class="card border-bottom-success shadow h-100 py-2 mb-4">
        <div class="card-body">
            
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="d-flex justify-content-center align-items-center mb-3">
                        <h5 class="m-0 font-weight-bold text-primary">Reporte de Ingresos</h5>
                    </div>
                </div>
            </div>
            
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="d-flex justify-content-center align-items-center">
                        <button class="btn btn-outline-success btn-sm" @onclick="() => GetTransactionsRevenuesAsync(1)">Hoy</button>
                        <button class="btn btn-outline-success btn-sm ml-5" @onclick="() => GetTransactionsRevenuesAsync(2)">Ayer</button>
                        <button class="btn btn-outline-success btn-sm ml-5" @onclick="() => GetTransactionsRevenuesAsync(3)">Mensual</button>
                        <button class="btn btn-outline-success btn-sm ml-5" @onclick="() => GetTransactionsRevenuesAsync(4)">Anual</button>
                    </div>
                </div>
            </div>

            <div class="container mt-3">
                <div class="row text-center">
                    <!-- Resumen Compacto -->
                    <div class="col-md-12">
                        
                        <div class="card border-left-info p-3">

                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <p class="text-muted mb-0"><strong>Usuario:</strong> @Transactions.userName</p>
                                </div>
                                <div class="col-12">
                                    <p class="text-muted"><strong>Consulta:</strong> @Transactions.consultedIn</p>
                                </div>
                            </div>


                            <div class="d-flex justify-content-around">
                                <div class="font-weight-bold">
                                    <div><span class="badge badge-success">Total Válido: C$ @Transactions.validTotal</span></div>
                                    <div><span class="badge badge-danger">Total Inválido: C$ @Transactions.invalidTotal</span></div>
                                </div>
                                <div class="font-weight-bold">
                                    <div>
                                        <span class="badge badge-info">
                                            Desde: @(DateTime.TryParse(Transactions.startDate, out var startDate)
                                                       ? startDate.ToString("ddd dd/MMM/yyyy, h:mm tt", new System.Globalization.CultureInfo("es-ES"))
                                                       : "Sin fecha")
                                        </span>
                                    </div>
                                    <div>
                                        <span class="badge badge-info">
                                            Desde: @(DateTime.TryParse(Transactions.endDate, out var endDate)
                                                       ? endDate.ToString("ddd dd/MMM/yyyy, h:mm tt", new System.Globalization.CultureInfo("es-ES"))
                                                       : "Sin fecha")
                                        </span>
                                    </div>
                                </div>
                                <div class="font-weight-bold">
                                    <div><span class="badge badge-secondary">Cantidad Válida: @Transactions.validQuantity</span></div>
                                    <div><span class="badge badge-secondary">Cantidad Inválida: @Transactions.invalidQuantity</span></div>
                                </div>
                            </div>
                            
                        </div>

                    </div>
                </div>
            </div>


            
            
            
            
            
            <hr>
            
            <div class="row align-items-center">
                <div class="col">
                    
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="dataTableExport" class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Factura</th>
                                        <th>Estudiante</th>
                                        <th>Fecha</th>
                                        <th>Monto</th>
                                        <th>Tipo</th>
                                        <th>Estado</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>Factura</th>
                                        <th>Estudiante</th>
                                        <th>Fecha</th>
                                        <th>Tipo</th>
                                        <th>Monto</th>
                                        <th>Estado</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    @foreach (var item in Transactions.transactionList)
                                    {
                                        <tr>
                                            <td> @item.number</td>
                                            <td> @item.studentName</td>
                                            <td> @item.datetime</td>
                                            <td> @item.amount</td>
                                            <td>
                                                @((TypeTransactions.FirstOrDefault(t => t.typeId == item.type)?.description ?? "Descripción no disponible"))
                                            </td>
                                            <td> @item.isValid </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                </div>
            </div>
            
            
        </div>
    </div>
}
<script src="js/DataTable/ExportDataTables.js"></script>


