@page "/academy/enrollments/{EnrollmentId}/grades"

@inherits BaseView;
@attribute [Authorize(Roles = "teacher")]

@if (IsLoading())
{
    <div class="loader"></div>
}
else
{
<div class="card shadow h-100 py-2 mb-4">
    <div class="card-body">
        <!-- Título -->
        <div class="row no-gutters align-items-center mb-4">
            <div class="col mr-2">
                <div class="d-flex justify-content-center align-items-center">
                    <h5 class="m-0 font-weight-bold text-primary">@enrollmentLabel</h5>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6">

                <div class="card border-left-primary shadow mb-3">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Docente</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@(TeacherName ?? "N/A")</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-user-tie fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card border-left-primary shadow mb-3">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Parcial Activo</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@GetPartialName()</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@GetDatetime()</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar-alt fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card border-left-primary shadow">
                    <div class="card-body">

                        <div class="alert alert-info" role="alert">
                            <h5 class="alert-heading">
                                <i class="fas fa-info-circle"></i> Instrucciones para actualizar calificaciones
                            </h5>
                            <hr>
                            <p class="mb-0">
                                Para actualizar las calificaciones utilizando una hoja de cálculo, sigue estos pasos:
                            </p>
                            <ol class="pl-3">
                                <li>Descarga la plantilla con el botón <strong>"Descargar Formato"</strong>.</li>
                                <li>Edita el archivo con los datos actualizados.</li>
                                <li>Sube el archivo editado y haz clic en <strong>"Actualizar calificaciones"</strong>.</li>
                            </ol>
                        </div>
                        
                        @if (archivoExcel == null)
                        {
                            <div class="mb-3">
                                <label for="fileInput" class="btn btn-outline-primary btn-block">
                                    <i class="fas fa-file-upload"></i> Seleccionar archivo
                                </label>
                                <InputFile OnChange="async (e) => await CargarArchivoExcel(e)" id="fileInput" class="d-none" accept=".xlsx"/>
                            </div>
                        }

                        <!-- Botón para actualizar datos -->
                        @if (archivoExcel != null)
                        {
                            <button @onclick="ActualizarDatosDesdeExcel" class="btn btn-outline-danger btn-block">
                                <i class="fas fa-sync-alt"></i> Actualizar calificaciones
                            </button>
                        }
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

    @if (studentList != null && subjectList != null)
    {
        <div class="card show mb-4">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                    @foreach (var item in partialList!.OrderBy(t => t.partialId))
                    {
                        <li class="nav-item">
                            <a class="nav-link @(ActiveTabId == item.partialId ? "active" : "")"
                               id="panel-@item.partialId"
                               @onclick="(() => ActiveTabId = item.partialId)">
                                @item.label
                            </a>
                        </li>
                    }

                    <li class="nav-item ml-auto">
                        
                        <button class="btn btn-outline-primary btn-sm" @onclick="DescargarExcel">
                            <i class="fas fa-file-download"></i> Descargar Formato
                        </button>
                        
                        <button class="btn btn-success btn-sm" @onclick="UpdateGradeList">
                            Guardar
                        </button>

                    </li>
                </ul>
            </div>


            <div class="card-body" id="tabContent">
                <div class="tab-content">
                    @foreach (var item in partialList!.OrderBy(t => t.partialId))
                    {
                        <div class="tab-pane fade @(ActiveTabId == item.partialId ? "show active" : "")"
                             id="card-@item.partialId"
                             role="tabpanel" aria-labelledby="panel-@item.partialId">

                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Estudiante</th>
                                        @foreach (var subject in subjectList)
                                        {
                                            <th colspan="2" class="tac">
                                                @subject.initials
                                            </th>
                                        }
                                        <th class="tac">Conducta</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var student in studentList.OrderBy(s => s.sex).ThenBy(s => s.fullName))
                                    {
                                        <tr>
                                            <td data-label="Código">@student.studentId</td>
                                            <td data-label="Estudiante" style="min-width: 200px">@student.fullName</td>
                                            @foreach (var subject in subjectList)
                                            {
                                                <td data-label="@subject.name - Clave" class="tac">
                                                    @if (student.gradeList!.FirstOrDefault(e => e.subjectId == subject.subjectId) != null)
                                                    {
                                                        @student.gradeList!.First(e => e.subjectId == subject.subjectId).label
                                                    }
                                                    else
                                                    {
                                                        <span>No asignado</span>
                                                    }
                                                </td>
                                                <td data-label="@subject.name - Valor" class="tac-max">
                                                    @if (student.gradeList!.FirstOrDefault(e => e.subjectId == subject.subjectId) != null)
                                                    {
                                                        <input type="number" min="0" class="form-control no-spinner"
                                                               @bind="student.gradeList!.First(e => e.subjectId == subject.subjectId).grade"/>
                                                    }
                                                    else
                                                    {
                                                        <span>No asignado</span>
                                                    }
                                                </td>
                                            }
                                            <td data-label="Conducta" class="tac-max">
                                                <input type="number" class="form-control no-spinner"
                                                       @bind="student.conductGrade"/>
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="border-left-primary">
            <h3>No hay datos disponibles para mostrar</h3>
        </div>
    }
}
