@page "/accouting/tariffcollection/{StudentID}"

@inherits TariffCollection;

@if(IsLoading())
{
    <div class="loader"></div>
}
else
{
    <link rel="stylesheet" href="css/TarriffCollection.css">
    //------------------------------------------------------------------------old----------------------------------------------------------------------------
   
    <!-- Tabs Of Options -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">

            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="TabTariffs" data-toggle="tab" href="#PanelTariffs" role="tab"
                       aria-controls="PanelTariffs" aria-selected="true">Mensualidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="TabServices" data-toggle="tab" href="#PanelServices" role="tab"
                       aria-controls="PanelServices" aria-selected="false">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="TabStudent" data-toggle="tab" href="#PanelStudent" role="tab"
                       aria-controls="PanelStudent" aria-selected="false">Info Estudiante</a>
                </li>
            </ul>
            
            <button type="button" class="btn btn-success"
                    @onclick="(e) => ConfirmTransaction()">
                Cobrar
            </button>
            
        </div>

        <div class="card-body" id="tabContent">
            <div class="tab-content">
                
                <div class="tab-pane fade show active" id="PanelTariffs" role="tabpanel" aria-labelledby="TabTariffs">
                    <div>
                        <div class="p-3 table-responsive ">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Año Lectivo</th>
                                    <th>Concepto</th>
                                    <th>Monto</th>
                                    <th>Con Mora</th>
                                    <th>Fecha Vencimiento</th>
                                    <th>Seleccionar</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in TariffList!)
                                {
                                    if (item.Type == 1)
                                    {
                                        <tr>
                                            <td>@item.TariffId</td>
                                            <td>@item.SchoolYear</td>
                                            <td>@item.Concept</td>
                                            @{
                                                var hasDebt = StudentEntity.HasPayments(item.TariffId);
                                                var amount = hasDebt && StudentEntity.GetDebt(item.TariffId) != 0 ? StudentEntity.GetDebt(item.TariffId) : item.Amount;
                                            }
                                            <td>@amount</td>
                                            <td>@item.IsLate</td>
                                            <td>@item.DueDate</td>
                                            @if (hasDebt && StudentEntity.GetDebt(item.TariffId) == 0)
                                            {
                                                <td>
                                                    <button type="button" class="btn btn-danger btn-sm" disabled> Pagado </button>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="center-checkbox">
                                                    <input type="checkbox" id="checkbox-@item.TariffId" @onchange="(e) => OnSelectItemChanged(e, item)"/>
                                                </td>
                                            }
                                        </tr>
                                    }
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="PanelServices" role="tabpanel" aria-labelledby="TabServices">
                    <div>
                        <div class="p-3 table-responsive ">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Año Lectivo</th>
                                    <th>Concepto</th>
                                    <th>Monto</th>
                                    <th>Seleccionar</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in TariffList!)
                                {
                                    if (item.Type != 1)
                                    {
                                        <tr>
                                            <td>@item.TariffId</td>
                                            <td>@item.SchoolYear</td>
                                            <td>@item.Concept</td>
                                            @{
                                                var hasDebt = StudentEntity.HasPayments(item.TariffId);
                                                var amount = hasDebt && StudentEntity.GetDebt(item.TariffId) != 0 ? StudentEntity.GetDebt(item.TariffId) : item.Amount;
                                            }
                                            <td>@amount</td>
                                            @if (hasDebt && StudentEntity.GetDebt(item.TariffId) == 0)
                                            {
                                                <td>
                                                    <button type="button" class="btn btn-danger btn-sm" disabled> Pagado </button>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="center-checkbox">
                                                    <input type="checkbox" id="checkbox-@item.TariffId" @onchange="(e) => OnSelectItemChanged(e, item)"/>
                                                </td>
                                            }
                                        </tr>
                                    }
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="PanelStudent" role="tabpanel" aria-labelledby="TabStudent">
                    <div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div class="info-box">
                                    <span class="info-box-icon bg-info text-white">
                                        <i class="fas fa-user"></i>
                                    </span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Nombre</span>
                                        <span class="info-box-value">@StudentEntity.fullName</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="info-box">
                                    <span class="info-box-icon bg-secondary text-white">
                                        <i class="fas fa-id-badge"></i>
                                    </span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Código</span>
                                        <span class="info-box-value">@StudentEntity.studentId</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="info-box">
                                    <span class="info-box-icon bg-success text-white">
                                        <i class="fas fa-graduation-cap"></i>
                                    </span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Grado</span>
                                        <span class="info-box-value">@StudentEntity.enrollmentLabel</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="info-box">
                                    <span class="info-box-icon bg-warning text-white">
                                        <i class="fas fa-calendar-alt"></i>
                                    </span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Año Lectivo</span>
                                        <span class="info-box-value">@StudentEntity.schoolyear</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="info-box">
                                    <span class="info-box-icon bg-danger text-white">
                                        <i class="fas fa-chalkboard-teacher"></i>
                                    </span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Tutor</span>
                                        <span class="info-box-value">@StudentEntity.tutor</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="info-box">
                                    <span class="info-box-icon bg-primary text-white">
                                        <i class="fas fa-percent"></i>
                                    </span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Descuento</span>
                                        <span class="info-box-value">@StudentEntity.discount</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <a href="/accouting/tariffcollection" class="btn btn-info btn-sm">Estado de cuenta</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <!-- Modal Middle-Pay -->
    <div class="modal fade" id="middlePay" tabindex="-1" aria-labelledby="middlePay" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="middlePay">Abonar pago</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="ClearList">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @* cambio y monto total *@
                    <div class="anchototal">

                        <div class="row">
                            <div class="col pay">
                                <div>Monto: </div>
                            </div>
                            <div class="col pay">
                                <input id="amoun2" type="number" class="form-control p1" placeholder="C$ 00.00" @bind="AmountToDivide">
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="right-container">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" @onclick="(e) => ClearList()">Atras</button>
                        <button type="button" class="btn btn-success" @onclick="(e) => Pay()">Cobrar</button>
                        <button type="button" class="btn btn-success" @onclick="(e) => DistributePay()">Distribuir</button>
                    </div>
                </div>

                @{
                    if (TariffsToPay!.Count == 0)
                    {
                        <div class="finishpaymodal">
                            <div class="card mb-4 py-3 border-left-danger" style="padding: 20px">
                                <h7> Ingrese un monto y de click en distribuir.</h7>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row centrar">
                            <div class="finishpaymodal">
                                <table class="detailpaytable">
                                    <thead>
                                    <tr>
                                        <th>Concepto</th>
                                        <th>Monto</th>
                                        <th>Desc</th>
                                        <th>Mora</th>
                                        <th>Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var item in TariffsToPay)
                                    {
                                        <tr>
                                            <td>@item.Concept</td>
                                            <td>@item.Amount</td>
                                            <td>@item.Discount</td>
                                            <td>@item.Arrear</td>
                                            <td>@item.Total</td>
                                        </tr>
                                    }
                                    </tbody>

                                    <tfoot>
                                    <tr>
                                        <th>Totales</th>
                                        <th class="subtotal">@Subtotal</th>
                                        <th class="discount">@Discount</th>
                                        <th class="arrears">@Arrears</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
    
    <!-- Finiish Modal Pay -->
    <div class="modal fade" id="finistariff" tabindex="-1" aria-labelledby="finistariff" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="finistariff">Detalle de la transacción</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    @* detalles de la transaccion *@
                    <div class="row centrar">
                        <div class="finishpaymodal">
                            <table class="detailpaytable">
                                <thead>
                                <tr>
                                    <th>Concepto</th>
                                    <th>Monto</th>
                                    <th>Desc</th>
                                    <th>Mora</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in TariffsToPay!)
                                { 
                                    <tr>
                                        <td>@item.Concept</td>
                                        <td>@Math.Round(item.Amount, 1)</td>
                                        <td>@Math.Round(item.Discount, 1)</td>
                                        <td>@Math.Round(item.Arrear, 1)</td>
                                    </tr>
                                }
                                </tbody>

                                <tfoot>
                                <tr>
                                    <th>Totales</th>
                                    <th class="subtotal">@Math.Round(Subtotal ,1)</th>
                                    <th class="discount">@Math.Round(Discount, 1)</th>
                                    <th class="arrears">@Math.Round(Arrears, 1)</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <hr/>
                    @* cambio y monto total *@
                    <div class="anchototal">

                        <div class="row">
                            <div class="col pay">
                                <div>Recibí: </div>
                            </div>
                            <div class="col pay">
                                <input id="amoun" type="number" class="form-control p1" placeholder="C$ 00.00" @bind="AmountToDivide">
                             </div>
                        </div>

                        <div class="row">
                            <div class="col pay">
                                <div>Total: </div>
                            </div>
                            <div class="col pay">
                                <input id="modalAmount" type="number" class="form-control p1" placeholder="C$ 00.00" disabled value="@Math.Round(Total, 1)">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col pay">
                                <div>Cambio: </div>
                            </div>
                            <div class="col pay">
                                <input id="chamge" type="text" class="form-control p1" placeholder="C$ 00.00" disabled>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="left-container">
                        <input type="checkbox" id="moraCheckbox" class="exomora" @onchange="ExonerateArrears"/>
                        <label class="form-check-label exomora" for="moraCheckbox">Exonerar mora</label>
                    </div>

                    <div class="right-container">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Atras</button>
                        <button type="button" class="btn btn-success" @onclick="(e) => Pay()">Cobrar</button>
                    </div>
                </div>

            </div>
        </div>
        <script defer src="/js/TarriffCollection.js"></script>
        

    </div>
}
