@page "/academy/enrollments/guide"
@using wsmcbl.src.Utilities
@inherits BaseView

@attribute [Authorize(Roles = "teacher")]

<div class="card shadow h-100 py-2 mb-4">
    <div class="card-body">

        <!-- Título -->
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="d-flex justify-content-center align-items-center mb-3">
                    <h5 class="m-0 font-weight-bold text-primary">@Enrollment.label</h5>
                </div>
            </div>
        </div>

        <!-- Cards de información general -->
        <div class="row">
            <!-- Card para el docente -->
            <div class="col-md-3 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Docente</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@(User.getAlias() ?? "N/A")</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-user-tie fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card para la cantidad de estudiantes -->
            <div class="col-md-3 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Cantidad</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@Enrollment.quantity</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-user-graduate fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card para la capacidad -->
            <div class="col-md-3 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Capacidad</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@Enrollment.capacity</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-users fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card para la cantidad de varones y mujeres -->
            <div class="col-md-3 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Varones</div>
                                <div
                                    class="h5 mb-0 font-weight-bold text-gray-800">@(Enrollment.studentList?.Count(t => t.sex == true) ?? 0)</div>
                            </div>
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Mujeres</div>
                                <div
                                    class="h5 mb-0 font-weight-bold text-gray-800">@(Enrollment.studentList?.Count(t => t.sex == false) ?? 0)</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-venus-mars fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>

        <!-- Pestañas -->
        <div class="card shadow mb-4">

            <div class="card-header py-3 d-flex flex-column flex-md-row justify-content-between align-items-center">
                <div class="d-block d-md-none w-100 mb-2">
                    <select class="form-control" id="mobileTabSelector" onchange="switchTab(this.value)">
                        <option value="PanelStudent">Estudiantes</option>
                        <option value="PanelSubject">Asignaturas</option>
                    </select>
                </div>

                <ul class="nav nav-tabs card-header-tabs d-none d-md-flex" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="TabStudent" data-toggle="tab" href="#PanelStudent" role="tab"
                           aria-controls="PanelStudent" aria-selected="true">
                            Estudiantes
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="TabSubject" data-toggle="tab" href="#PanelSubject" role="tab"
                           aria-controls="PanelSubject" aria-selected="False">
                            Asignaturas
                        </a>
                    </li>
                </ul>
            </div>
            
            <div class="card-body" id="tabContent">
                <div class="tab-content">
                    
                    <!-- Pestaña de Estudiantes -->
                    <div class="tab-pane fade show active" id="PanelStudent" role="tabpanel"
                         aria-labelledby="TabStudent">
                        
                        <!-- Versión Desktop -->
                        <div class="d-none d-md-block">
                            @if (Enrollment.studentList != null && Enrollment.studentList.Any())
                            {
                                <div class="p-3 table-responsive">
                                    <table id="dataTable" class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Cód.</th>
                                            <th>Cód. Mined</th>
                                            <th>Nombre</th>
                                            <th>Sexo</th>
                                            <th>Edad</th>
                                            <th>Acciones</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        @for (int i = 0; i < Enrollment.studentList.Count; i++)
                                        {
                                            var item = Enrollment.studentList[i];
                                            <tr>
                                                <td>@(i + 1)</td>
                                                <td>@item.studentId</td>
                                                <td>@item.minedId</td>
                                                <td>@item.fullName</td>
                                                <td>@item.sex.ToSex()</td>
                                                <td>@item.age</td>
                                                <td class="text-nowrap text-center">
                                                    <div class="btn-group btn-group-sm d-flex justify-content-center" role="group">
                                                        <a href="/academy/enrollments/guide/students/@item.studentId"
                                                           class="btn btn-outline-primary mx-1">
                                                            <i class="fas fa-eye mr-1"></i> Ver perfil
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                </div>
                                <script defer src="js/DataTable/dataTableWhitOutOrder.js"></script>
                            }
                            else
                            {
                                <div class="d-flex align-items-center justify-content-center" style="height: 100px;">
                                    <h5 class="text-gray-800">No hay estudiantes guiados para usted.</h5>
                                </div>
                            }
                        </div>

                        <!-- Versión Mobile -->
                        <div class="d-md-none">
                            @if (Enrollment.studentList != null && Enrollment.studentList.Any())
                            {
                                @for (int i = 0; i < Enrollment.studentList.Count; i++)
                                {
                                    var item = Enrollment.studentList[i];
                                    <div class="card mb-3 shadow-sm">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-start">
                                                <div>
                                                    <h6 class="font-weight-bold mb-1">@(i + 1) - @item.fullName</h6>
                                                    <small class="text-muted">Código: @item.studentId</small>
                                                </div>
                                                <span
                                                    class="status-label @item.sex.ToActiveClass()">@item.sex.ToSex()</span>
                                            </div>

                                            <div class="mt-2">
                                                <div class="d-flex justify-content-between mb-1">
                                                    <span class="text-muted">Edad:</span>
                                                    <span>@item.age</span>
                                                </div>
                                            </div>

                                            <div class="d-flex justify-content-around mt-2">
                                                <a href="/academy/enrollments/guide/students/@item.studentId"
                                                   class="btn btn-sm btn-outline-primary"
                                                   title="Ver perfil"> Ver perfil
                                                    <i class="fas fa-eye"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="d-flex align-items-center justify-content-center" style="height: 100px;">
                                    <h5 class="text-gray-800">No hay estudiantes guiados para usted.</h5>
                                </div>
                            }
                        </div>
                    </div>
                    
                    <!-- Pestaña de Asignaturas -->
                    <div class="tab-pane fade" id="PanelSubject" role="tabpanel" aria-labelledby="TabSubject">
                        
                        <!-- Versión Desktop -->
                        <div class="d-none d-md-block">
                            @if (Enrollment.subjectTeacherIdList != null && Enrollment.subjectTeacherIdList.Any())
                            {
                                <div class="p-3 table-responsive">
                                    <table id="dataTableSubject" class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Abrev.</th>
                                            <th>Asignaturas</th>
                                            <th>Docente</th>
                                            <th>Semestre</th>
                                            <th>¿Reprobable?</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        @for (int i = 0; i < Enrollment.subjectTeacherIdList.Count; i++)
                                        {
                                            var item = Enrollment.subjectTeacherIdList[i];
                                            var clave = Enrollment.subjectList.FirstOrDefault(t => t.subjectId == item.subjectId)?.initials ?? "Materia no encontrada";
                                            var subject = Enrollment.subjectList.FirstOrDefault(t => t.subjectId == item.subjectId)?.name ?? "Materia no encontrada";
                                            var teacher = Teachers.FirstOrDefault(t => t.teacherId == item.teacherId)?.fullName ?? "Docente no encontrado";
                                            var semester = Enrollment.subjectList.FirstOrDefault(t => t.subjectId == item.subjectId)?.semester ?? 0;
                                            var isMandatory = Enrollment.subjectList.FirstOrDefault(t => t.subjectId == item.subjectId)?.isMandatory;
                                            <tr>
                                                <td>@(i + 1)</td>
                                                <td>@clave</td>
                                                <td>@subject</td>
                                                <td>@teacher</td>
                                                <td>@semester.ToSemester()</td>
                                                <td>@(isMandatory == true ? "Sí" : "No")</td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            else
                            {
                                <div class="d-flex align-items-center justify-content-center" style="height: 100px;">
                                    <h5 class="text-gray-800">No hay asignaturas disponibles.</h5>
                                </div>
                            }
                        </div>
                        
                        <!-- Versión Mobile -->
                        <div class="d-md-none">
                            @if (Enrollment.subjectTeacherIdList != null && Enrollment.subjectTeacherIdList.Any())
                            {
                                @for (int i = 0; i < Enrollment.subjectTeacherIdList.Count; i++)
                                {
                                    var item = Enrollment.subjectTeacherIdList[i];
                                    var clave = Enrollment.subjectList.FirstOrDefault(t => t.subjectId == item.subjectId)?.initials ?? "Materia no encontrada";
                                    var subject = Enrollment.subjectList.FirstOrDefault(t => t.subjectId == item.subjectId)?.name ?? "Materia no encontrada";
                                    var teacher = Teachers.FirstOrDefault(t => t.teacherId == item.teacherId)?.fullName ?? "Docente no encontrado";
                                    var semester = Enrollment.subjectList.FirstOrDefault(t => t.subjectId == item.subjectId)?.semester ?? 0;
                                    var isMandatory = Enrollment.subjectList.FirstOrDefault(t => t.subjectId == item.subjectId)?.isMandatory;

                                    <div class="card mb-3 shadow-sm">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-start">
                                                <div>
                                                    <h6 class="font-weight-bold mb-1">@(i + 1) - @subject</h6>
                                                    <small class="text-muted">Profesor: @teacher</small>
                                                </div>
                                                <span>@clave </span>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="d-flex align-items-center justify-content-center" style="height: 100px;">
                                    <h5 class="text-gray-800">No hay asignaturas disponibles.</h5>
                                </div>
                            }
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/ResponsiveTabs.js"></script>
