@inherits BaseView

@if (IsLoading())
{
    <div class="text-gray-800 text-center">Cargando.... es posible que no tengas sección guiada.</div>
}
else
{
    <div class="card-body">
        <div class="table-responsive">
            <table id="dataTable" class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>I Parcial</th>
                    <th>II Parcial</th>
                    <th>III Parcial</th>
                    <th>IV Parcial</th>
                    <th>NT Final</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>#</th>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>I Parcial</th>
                    <th>II Parcial</th>
                    <th>III Parcial</th>
                    <th>IV Parcial</th>
                    <th>NT Final</th>
                </tr>
                </tfoot>
                <tbody>
                @for (int i = 0; i < Students!.Count; i++)
                {
                    var student = Students[i];
                    <tr>
                        <td class="text-center">@(i + 1)</td>
                        <td>@student.studentId</td>
                        <td style="min-width: 200px">@student.fullName</td>

                        @{
                            var averages = student.averageList;
                            while (averages.Count < 4)
                            {
                                averages.Add(new Average() { grade = 0, label = "-" });
                            }
                            
                            for (int j = 0; j < 4; j++)
                            {
                                <td class="tac-max">
                                    @averages[j].grade
                                    <br/>
                                    <small class="text-muted">@averages[j].label</small>
                                </td>
                            }
                        }
                        <td class="tac">@student.finalGrade</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    <script src="js/DataTable/dataTableWhitOutOrder.js"></script>
}