@page "/secretary/students"
@attribute [Authorize(Roles = "admin")]
@using wsmcbl.src.View.Components;
@using wsmcbl.src.View.Secretary.Profiles;

@if (IsLoad())
{
    <div class="loader"></div>
}
else
{
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Lista de todos los estudiantes</h6>

            <div class="btn-group">
                <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#NewStudentModal">
                    Nuevo estudiante
                </button>

                <button type="button" class="btn btn-success btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>

                <div class="dropdown-menu">
                    <a class="dropdown-item" @onclick="loadStudentList">Actualizar</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="dataTable" class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Activo</th>
                        <th>Año Lectivo</th>
                        <th>Grado</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Activo</th>
                        <th>Año Lectivo</th>
                        <th>Grado</th>
                        <th>Acciones</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    @foreach (var item in List!)
                    {
                        <tr>
                            <td> @item.studentId </td>
                            <td> @item.fullName </td>
                            <td>

                                <span class="status-label @(item.isActive ? "active-status" : "inactive-status")">
                                    @(item.isActive ? "Si" : "No")
                                </span>

                            </td>
                            <td> @item.schoolyear </td>
                            <td> @item.enrollment </td>
                            <td>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                          
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                         aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Seleccione una opción:</div>
                                        <a class="dropdown-item" @onclick="() => PrintReportCard(item.studentId)">Ver boleta</a>
                                        <a class="dropdown-item" @onclick="() => PrintEnrollSheet(item.studentId)">Ver hoja de matricula</a>
                                        <a class="dropdown-item" @onclick="() => ToProfileUpdate(item.studentId)">Actualizar Fotografia</a>
                                        <a class="dropdown-item" href="/secretary/students/edit/@item.studentId">Ver Perfil</a>
                                        <a class="dropdown-item" href="#">Ver historial de calificaciones</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Generar hoja de traslado</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <PdfViewer Title="@PdfDocumentName" PdfContent="@PdfDocument"/>
    
    <CreateStudentProfile onNewStudentCreated="@loadStudentList"/>
    
    <!-- Inicializamos datatable -->
    <script defer src="js/DataTable/dataTableOrderByName.js"></script>
}