@page "/accouting/tariffcollection/{StudenID}"

@using System.Text.Json
@using wsmcbl.front.Controllers
@using wsmcbl.front.Models.Accounting

@inject StudentController controller;
@inject TariffController tariffcontroller;
@inject IJSRuntime JSRuntime;
@inject HttpClient httpClient;
@inject NavigationManager navigationManager;
@inject SweetAlertService Swal;

@* validamos si el estudiante no es nulo y si la lista de tarifas del catalogo tiene al menos 1 elemento.  *@
@if (student == null || tariffs == null)
{
    <a> Loading... </a>
    
}
else
{
    <link rel="stylesheet" href="/css/TarriffCollection.css">
    @* Panel de informacion del estudiante *@
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Información</h6>
        </div>
        <form class="p-5">
            <div class="row">

                <div class="col">
                    <p class="text-left">Nombre: @student.fullName</p>
                    <p class="text-left">Año Lectivo: @student.schoolyear</p>
                    <p class="text-left">Codigo: @student.studentId</p>
                </div>

                <div class="col">
                    <p class="text-left">Grado: @student.enrollmentLabel</p>
                    <p class="text-left">Tutor: @student.tutor</p>
                </div>

                <div class="col d-flex align-items-center justify-content-center">
                    <div class="card shadow mb-4 d-inline-block">
                        <div class="card-header py-3 d-flex justify-content-between align-items-center">
                            <h6 class="m-0 font-weight-bold text-primary">Descuentos</h6>
                        </div>
                        <div class="card-body p2">
                            <div class="row form-check">
                                <div>
                                    <input class="form-check-input" type="checkbox" id="discount1">
                                    <label class="form-check-label" for="discount1">
                                        Hermanos
                                    </label>
                                </div>

                                <div>
                                    <input class="form-check-input" type="checkbox" id="discount2">
                                    <label class="form-check-label" for="discount2">
                                        Trabajador
                                    </label>
                                </div>

                                <div>
                                    <input class="form-check-input" type="checkbox" id="discount3">
                                    <label class="form-check-label" for="discount3">
                                        Otros
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        @* Botones *@
        <div class="p1">
            <div class="row">
                <div class="col-6 text-center">
                    <a href="/accouting/tariffcollection" class="btn btn-success btn-sm">Estado de cuenta</a>
                </div>
                <div class="col-6 text-center ">
                    <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
                        data-target="#multitariffmodal">Hacer pagos multiples</button>
                </div>
            </div>
        </div>
        
        @* Tabla de Aranceles *@
        <div class="p-3 table-responsive ">
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Fecha Vencimiento</th>
                        <th>Concepto</th>
                        <th>Cantidad</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in tariffs)
                    {
                        <tr>
                            <td>@item.tariffId</td>
                            <td>Nunca</td>
                            <td>@item.concept</td>
                            <td>@item.amount</td>
                            <td>
                                @if (student.transactions != null &&
                                student.transactions.Any(t => t.Tariffs.Any(tt => tt.tariffId == item.tariffId)))
                                {
                                    <button type="button" class="btn btn-danger btn-sm " data-toggle="modal"
                                        data-target="#finistariff" disabled>Pagado
                                    </button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-success btn-sm " data-toggle="modal"
                                        data-target="#finistariff" @onclick="(e) => finalModalPay(item)">
                                        Cobrar
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    @* Formularios POP UP *@
    <!-- Finiish Modal Pay -->
    <div class="modal fade" id="finistariff" tabindex="-1" aria-labelledby="finistariff" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="finistariff">Detalle de la transacción</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @* detalles de la transaccion *@
                    <div class="row">
                        <div class="col centrar">
                            <div>Concepto: </div>
                            <div>Monto: </div>
                        </div>
                        <div class="col centrar">
                            <div id="modalConcep">@tariffSelected.concept</div>
                            <div id="modalAmount">@tariffSelected.amount</div>
                        </div>
                    </div>
                    @* cambio y monto total *@
                    <div class="row">
                        <div class="col centrar">
                            <div class="centrar">Recibí: </div>
                            <div class="centrar">Cambio: </div>
                        </div>
                        <div class="col centrar">
                            <div class="row">
                                <input id="amoun" type="number" class="form-control p1" placeholder="C$ 00.00">
                            </div>
                            <div class="row">
                                <input id="chamge" type="number" class="form-control p1" placeholder="C$ 00.00">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" 
                    @onclick="(e) => Pay()">Cobrar
                    </button>
                </div>
            </div>
        </div>
    <script defer src="/js/TarriffCollection.js"></script>
    </div>

    <!-- Multi Pagos -->
    <div class="modal fade" id="multitariffmodal" tabindex="-1" aria-labelledby="multitariffmodalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="multitariffmodalLabel">Cobros Multiples</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="p-3 table-responsive">
                        <table class="table table-bordered" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Selec</th>
                                    <th>#</th>
                                    <th>Fecha Vencimiento</th>
                                    <th>Concepto</th>
                                    <th>Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="align-middle text-center">
                                        <div class="d-flex align-items-center justify-content-center">
                                            <input class="form-check-input align-items-center" type="checkbox" value=""
                                                id="defaultCheck1">
                                        </div>
                                    </th>
                                    <th>1</th>
                                    <th>15/01/2024</th>
                                    <th>Enero</th>
                                    <th>900.00</th>
                                </tr>

                                <tr>
                                    <th class="align-middle text-center">
                                        <div class="d-flex align-items-center justify-content-center">
                                            <input class="form-check-input align-items-center justify-content-center"
                                                type="checkbox" value="" id="defaultCheck1">
                                        </div>
                                    </th>
                                    <th>2</th>
                                    <th>15/02/2024</th>
                                    <th>Febrero</th>
                                    <th>900.00</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-dismiss="modal"
                        data-target="#finistariff">Terminar</button>
                </div>
            </div>
        </div>
    </div>
}

@* 
Gente que tiene tarifas pagadas
2019-1000JARR
2024-2963NSZL
2024-2175MJOR *@

@code
{
    Tariff tariffSelected = new Tariff();

    List<Tariff> tariffs;
    StudentEntity student;     
    
    [Parameter]
    public string StudenID {get; set; }   
    
    protected override async Task OnInitializedAsync()
    {
        //obtenemos el Id del estudiante y su informacion completa
        var segments = navigationManager.ToAbsoluteUri(navigationManager.Uri).Segments;
        StudenID = segments.Last().Trim('/'); // Para asegurarte de quitar cualquier barra adicional al final
        student = await controller.GetStudentEntityAsync(StudenID);

        //Obtenemos la lista completa de tarifas del catalogo
        tariffs = await tariffcontroller.GetTariffs();
    }

    public void finalModalPay(Tariff item)
    {
        tariffSelected = item;
    }

    async Task Pay()
    {
        // creamos la lista de las tarifas a pagar
        var tariffs = new List<Tariff>
        {
            tariffSelected
        };

        // creamos nuestro objeto transaction
        var obj = new TransactionDto()
        {
            cashierId = "caj-ktinoco",
            studentId = StudenID,
            discount = 0,
            dateTime = DateTime.Now,
            tariffs = tariffs
        };

        var result = await tariffcontroller.SendPay(obj);

        if (result.IsSuccessStatusCode)
        {
            await Swal.FireAsync(new SweetAlertOptions
                {
                    Title = "¡Pago Exitoso!",
                    Text = "La transacción se completó correctamente.",
                    Icon = SweetAlertIcon.Success
                });

            await JSRuntime.InvokeVoidAsync("window.open", $"/transactions/invoices/{obj.studentId}", "_blank");

            ReloadPage();

        }
        else
        {
            await Swal.FireAsync(new SweetAlertOptions
                {
                    Title = "¡Error en el Pago!",
                    Text = "La transacción no se completó correctamente.",
                    Icon = SweetAlertIcon.Error
                });
        }
    }

    void ReloadPage()
    {
        navigationManager.NavigateTo(navigationManager.Uri, forceLoad: true);
    }



}









