<GlobalErrorView>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <div class="text-center">
                    <div class="error mx-auto" data-text="404">404</div>
                    <p class="lead text-gray-800 mb-5">Aqui no hay nada que ver</p>
                    <p class="text-gray-500 mb-0">Parece que encontraste un fallo en la matriz....</p>
                    <a href="index.html">&larr; Volver al Inicio</a>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</GlobalErrorView>
